Node-Red/Other/bigTimer.json
[{"id":"c47760f1.4767a","type":"tab","label":"Big Timer","disabled":true,"info":""},{"id":"2d70f68b.9e113a","type":"bigtimer","z":"c47760f1.4767a","outtopic":"myTimer","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":"45.07031","lon":"7.68686","starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"The Light is on","outtext2":"The Light is off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":380,"y":140,"wires":[["129892ef.cb330d"],[],[]]},{"id":"4886b360.1bf45c","type":"inject","z":"c47760f1.4767a","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["2d70f68b.9e113a"]]},{"id":"129892ef.cb330d","type":"debug","z":"c47760f1.4767a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":120,"wires":[]},{"id":"47c0283c.7488d8","type":"inject","z":"c47760f1.4767a","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["2d70f68b.9e113a"]]},{"id":"505ece0a.bc5df","type":"inject","z":"c47760f1.4767a","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["2d70f68b.9e113a"]]},{"id":"29d8f47d.625a2c","type":"inject","z":"c47760f1.4767a","name":"","topic":"","payload":"timer 5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["2d70f68b.9e113a"]]}]