Node-Red/Other/chiamateHttp.json
[{"id":"efaaadab.52f12","type":"tab","label":"Chiamate http","disabled":true,"info":""},{"id":"2f717b6e.abdfd4","type":"http request","z":"efaaadab.52f12","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://gpa.madbob.org/query.php?stop={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":80,"wires":[["143bb69.2e03c49","6e60d8ae.1bc688"]]},{"id":"143bb69.2e03c49","type":"debug","z":"efaaadab.52f12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":140,"wires":[]},{"id":"39e66c30.6f8ff4","type":"inject","z":"efaaadab.52f12","name":"","topic":"","payload":"147","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":80,"wires":[["4cf8e69e.6f11a8"]]},{"id":"6e60d8ae.1bc688","type":"function","z":"efaaadab.52f12","name":"Calocala tempo","func":"//definisco variabile tempo\nvar time = msg.mytime;\n//splitto minuti e ore\nvar min = time.split(\":\")[0];\nvar hour = time.split(\":\")[1];\n\n//calcolo tempo di attesa\nfor(var i = 0; i < msg.payload.length; i++){\n    var bus_min = msg.payload[i].hour.split(\":\")[1];\n    var bus_hour = msg.payload[i].hour.split(\":\")[0];\n    \n    var delta_min = parseInt(bus_min)-parseInt(min);\n    var delta_hour = parseInt(bus_hour)-parseInt(hour);\n    \n    msg.payload[i].ETA = delta_min;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":200,"wires":[["6c463a78.150414"]]},{"id":"6c463a78.150414","type":"debug","z":"efaaadab.52f12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":180,"wires":[]},{"id":"4cf8e69e.6f11a8","type":"simpletime","z":"efaaadab.52f12","name":"","x":250,"y":80,"wires":[["2f717b6e.abdfd4"]]}]