Node-Red/Other/funzioni.json
[{"id":"9f268b70.b6d408","type":"tab","label":"Funzioni","disabled":true,"info":""},{"id":"1026cc9c.d8c113","type":"http request","z":"9f268b70.b6d408","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:1880/test?val1=224&val2=5","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":40,"wires":[["bf8ae150.45e63"]]},{"id":"bf8ae150.45e63","type":"debug","z":"9f268b70.b6d408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":40,"wires":[]},{"id":"58f7a1ef.5ec01","type":"http in","z":"9f268b70.b6d408","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":140,"y":160,"wires":[["181521ff.b810ae","35b3cb25.b19fd4","a76a7606.5353b8"]]},{"id":"181521ff.b810ae","type":"debug","z":"9f268b70.b6d408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":160,"wires":[]},{"id":"10ea54a1.00ff2b","type":"inject","z":"9f268b70.b6d408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":40,"wires":[["1026cc9c.d8c113"]]},{"id":"35b3cb25.b19fd4","type":"function","z":"9f268b70.b6d408","name":"somma di valori","func":"x = 0;\ny = 0;\n\nx = msg.req.query.val1;\ny = msg.req.query.val2;\n\nvar total = parseInt(x) + parseInt(y);\n\nvar msg1 = {payload:x};\nvar msg2 = {payload:y};\nmsg.payload = total;\n\nreturn [msg,msg1,msg2];","outputs":3,"noerr":0,"x":260,"y":240,"wires":[["c3cd1b45.888ce8"],["c3cd1b45.888ce8"],["c3cd1b45.888ce8"]]},{"id":"c3cd1b45.888ce8","type":"debug","z":"9f268b70.b6d408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":240,"wires":[]},{"id":"b561ed25.e5262","type":"inject","z":"9f268b70.b6d408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":460,"wires":[["6fd2a4dd.efd67c"]]},{"id":"6fd2a4dd.efd67c","type":"function","z":"9f268b70.b6d408","name":"Esempio Due Output","func":"var msg1 = { payload:\"Message to the first\" };\nvar msg2 = { payload:\"Message to the second output\"};\nreturn [ msg1, msg2];\n\n\n\n\n","outputs":2,"noerr":0,"x":300,"y":440,"wires":[["d1bf4e16.4716"],["991a104f.5630f"]]},{"id":"d1bf4e16.4716","type":"debug","z":"9f268b70.b6d408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":420,"wires":[]},{"id":"991a104f.5630f","type":"debug","z":"9f268b70.b6d408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":500,"wires":[]},{"id":"a76a7606.5353b8","type":"function","z":"9f268b70.b6d408","name":"","func":"","outputs":1,"noerr":0,"x":260,"y":320,"wires":[["c3cd1b45.888ce8"]]}]