Node-Red/Other/Lezione_7.1.json
[{"id":"aaa1c141.11cb78","type":"tab","label":"Lezione 7.1","disabled":true,"info":""},{"id":"ff95d138.b24b18","type":"inject","z":"aaa1c141.11cb78","name":"","topic":"","payload":"Torino","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["8f52dae1.cd0ab8"]]},{"id":"8f52dae1.cd0ab8","type":"http request","z":"aaa1c141.11cb78","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q={{payload}}&appid=15c9b19a8e4d2f9570a497c5f49d0541","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":260,"wires":[["11c84d01.fc1c9b","d3f74775.fb2e88","412719db.e2068","dd45928d.f41678"]]},{"id":"11c84d01.fc1c9b","type":"debug","z":"aaa1c141.11cb78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":140,"wires":[]},{"id":"d3f74775.fb2e88","type":"debug","z":"aaa1c141.11cb78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.humidity","targetType":"msg","x":560,"y":220,"wires":[]},{"id":"412719db.e2068","type":"function","z":"aaa1c141.11cb78","name":"","func":"msg.payload = msg.payload.main.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["2ed40fcd.ca3ef8"]]},{"id":"2ed40fcd.ca3ef8","type":"debug","z":"aaa1c141.11cb78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":320,"wires":[]},{"id":"dd45928d.f41678","type":"function","z":"aaa1c141.11cb78","name":"Concatenare","func":"var st1 = \"a \";\nvar um = \" l'umidità é di\";\n\nvar name = msg.payload.name;\nvar st2 = msg.payload.main.humidity;\n\nmsg.payload = st1.concat(name, um, \" \", st2);\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":400,"wires":[["c5914aac.fc311"]]},{"id":"c5914aac.fc311","type":"debug","z":"aaa1c141.11cb78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":400,"wires":[]},{"id":"ecec89c1.204ee","type":"inject","z":"aaa1c141.11cb78","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":540,"wires":[["8e60f926.9515"]]},{"id":"8058156c.1f1968","type":"inject","z":"aaa1c141.11cb78","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":600,"wires":[["8e60f926.9515"]]},{"id":"b406f94d.b238b","type":"inject","z":"aaa1c141.11cb78","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":480,"wires":[["8e60f926.9515"]]},{"id":"8e60f926.9515","type":"debug","z":"aaa1c141.11cb78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":560,"wires":[]},{"id":"417381a4.4c1d98","type":"ui_worldmap","z":"aaa1c141.11cb78","group":"328101d9.94b40e","order":0,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":260,"y":160,"wires":[]},{"id":"e5c8be0e.27892","type":"ui_text_input","z":"aaa1c141.11cb78","name":"","label":"","tooltip":"","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":80,"y":180,"wires":[["8f52dae1.cd0ab8"]]},{"id":"328101d9.94b40e","type":"ui_group","z":"","name":"Weather Forecast Today","tab":"d300a03.768406","order":2,"disp":true,"width":"8","collapse":false},{"id":"d300a03.768406","type":"ui_tab","z":"","d":true,"name":"METEO","icon":"dashboard","order":5,"disabled":false,"hidden":false}]