Node-Red/Other/mappaFligthRadar.json
[{"id":"baf98e67.842cf8","type":"tab","label":"Flight radar","disabled":true,"info":""},{"id":"7d4d9ecb.7091a","type":"inject","z":"baf98e67.842cf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":80,"wires":[["3e836f8a.47e29"]]},{"id":"b88791c2.effa4","type":"debug","z":"baf98e67.842cf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":220,"wires":[]},{"id":"d7b98ab7.ad8f68","type":"worldmap","z":"baf98e67.842cf8","name":"","lat":"45.05","lon":"07.40","zoom":"10","layer":"UK OS Opendata","cluster":"0","maxage":"","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","coords":"none","path":"","x":650,"y":180,"wires":[]},{"id":"2b37811.680de7e","type":"flightradar24","z":"baf98e67.842cf8","lat":"45.05","latType":"num","lon":"07.40","lonType":"num","name":"","x":470,"y":180,"wires":[["b88791c2.effa4","d7b98ab7.ad8f68"]]},{"id":"cd185606.f01d5","type":"template","z":"baf98e67.842cf8","name":"Template Iframe align=middle ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body style=\"background-color:MediumSeaGreen;\">\n<iframe src={{{payload}}}  height=\"625\" width=\"1108\"   ></iframe>\n</body>\n</html>\n","output":"str","x":530,"y":420,"wires":[["3201d1b3.a618c6"]]},{"id":"3201d1b3.a618c6","type":"ui_template","z":"baf98e67.842cf8","group":"c361fef9.1f0c48","name":"iFRAME","order":1,"width":"21","height":"12","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":760,"y":420,"wires":[[]]},{"id":"6c316183.93a61","type":"function","z":"baf98e67.842cf8","name":"Build HTTP statement","func":"msg.payload = \"http://192.168.1.138:1880/worldmap\";\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":360,"wires":[["cd185606.f01d5"]]},{"id":"1691bcf7.347273","type":"inject","z":"baf98e67.842cf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":360,"wires":[["b0bca656.c26d","e59bfe42.386f","2b37811.680de7e"]]},{"id":"ecc64cbe.0b59d","type":"ui_button","z":"baf98e67.842cf8","name":"Free Run","group":"c7fce669.23e548","order":1,"width":"3","height":"1","passthru":false,"label":"Free Run","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":140,"wires":[["abbcec3b.db99c"]]},{"id":"530112dc.2369d4","type":"ui_button","z":"baf98e67.842cf8","name":"STOP","group":"c7fce669.23e548","order":1,"width":"3","height":"1","passthru":false,"label":"STOP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":200,"wires":[["8a04d3d.915353"]]},{"id":"c74230a8.c768","type":"ui_button","z":"baf98e67.842cf8","name":"Manual Update","group":"c7fce669.23e548","order":1,"width":"3","height":"1","passthru":false,"label":"Manual Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":280,"wires":[["2b37811.680de7e"]]},{"id":"e59bfe42.386f","type":"function","z":"baf98e67.842cf8","name":"D","func":"flow.set(\"status\",\"stopped\");\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":400,"wires":[[]]},{"id":"b0bca656.c26d","type":"delay","z":"baf98e67.842cf8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":360,"wires":[["6c316183.93a61"]]},{"id":"abbcec3b.db99c","type":"function","z":"baf98e67.842cf8","name":"B","func":"flow.set(\"status\",\"run\");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":140,"wires":[[]]},{"id":"8a04d3d.915353","type":"function","z":"baf98e67.842cf8","name":"C","func":"flow.set(\"status\",\"stopped\");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":200,"wires":[[]]},{"id":"3e836f8a.47e29","type":"function","z":"baf98e67.842cf8","name":"A","func":"var status = flow.get(\"status\")||\"stopped\";\n\nif (status==\"run\") {\n   msg.payload = 1;\n   return msg;\n}","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["2b37811.680de7e"]]},{"id":"c361fef9.1f0c48","type":"ui_group","z":"","name":"Display area","tab":"97380864.ce2ae8","order":2,"disp":true,"width":"21","collapse":false},{"id":"c7fce669.23e548","type":"ui_group","z":"","name":"Controls","tab":"97380864.ce2ae8","order":1,"disp":false,"width":"3","collapse":false},{"id":"97380864.ce2ae8","type":"ui_tab","z":"baf98e67.842cf8","name":"Flight Radar","icon":"language","order":1,"disabled":false,"hidden":false}]