Node-Red/Other/mappeSecondo.json
[{"id":"bd7fa8d9.bafed8","type":"tab","label":"example maps","disabled":true,"info":""},{"id":"3ce51f23.8dcad","type":"worldmap","z":"bd7fa8d9.bafed8","name":"","lat":"","lon":"","zoom":"","layer":"Nat Geo","cluster":"","maxage":"","usermenu":"show","layers":"show","panlock":"false","hiderightclick":"false","coords":"none","path":"","x":550,"y":160,"wires":[]},{"id":"d3710b4e.f76618","type":"inject","z":"bd7fa8d9.bafed8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":160,"wires":[["e9ac26fa.158a9"]]},{"id":"e9ac26fa.158a9","type":"function","z":"bd7fa8d9.bafed8","name":"Add person to map","func":"var thing = {\n    name:\"Jason Isaacs\", \n    lat:51, \n    lon:-1.45,\n    icon:\"car\",\n    iconColor:\"darkred\",\n    extrainfo:\"Hello to Jason Isaacs\"\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["3ce51f23.8dcad"]]},{"id":"5e5ad4fd.3d8c44","type":"comment","z":"bd7fa8d9.bafed8","name":"Simple map - click inject to send point to map.","info":"Adds a map at http://(your-server-ip):1880/worldmap. \n\nThe `function` node creates an object with some basic properties required to add to a map.","x":230,"y":100,"wires":[]},{"id":"6476b672.9d08c","type":"inject","z":"bd7fa8d9.bafed8","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":110,"y":240,"wires":[["99206137.df1c1"]]},{"id":"99206137.df1c1","type":"function","z":"bd7fa8d9.bafed8","name":"add new layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = { maxZoom: 19, attribution: '&copy; OpenStreetMap'};\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["3c9efc45.a62d5c"]]},{"id":"3c9efc45.a62d5c","type":"worldmap","z":"bd7fa8d9.bafed8","name":"","x":670,"y":280,"wires":[]},{"id":"fcd244c3.243ad","type":"function","z":"bd7fa8d9.bafed8","name":"USGS Quake monitor csv re-parse","func":"msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":380,"wires":[["3c9efc45.a62d5c"]]},{"id":"9309802a.a9162","type":"function","z":"bd7fa8d9.bafed8","name":"move and zoom","func":"msg.payload = { command:{layer:\"Esri Terrain\",lat:0,lon:0,zoom:3} };\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["3c9efc45.a62d5c"]]},{"id":"38f939bf.117406","type":"csv","z":"bd7fa8d9.bafed8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":0,"strings":true,"x":310,"y":320,"wires":[["fcd244c3.243ad"]]},{"id":"b1d715ea.dcb918","type":"inject","z":"bd7fa8d9.bafed8","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":110,"y":280,"wires":[["9309802a.a9162"]]},{"id":"d72cc623.3adbd8","type":"http request","z":"bd7fa8d9.bafed8","name":"","method":"GET","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv","x":190,"y":380,"wires":[["38f939bf.117406"]]},{"id":"3e84bc1b.788f34","type":"inject","z":"bd7fa8d9.bafed8","name":"Quakes","topic":"","payload":"","payloadType":"none","repeat":"900","crontab":"","once":false,"x":120,"y":320,"wires":[["d72cc623.3adbd8"]]}]