Node-Red/Other/mappePrimo.json
[{"id":"ee931a1a.a78ae","type":"tab","label":"Mappe","disabled":true,"info":""},{"id":"3e1c7e34.4adc0a","type":"ui_text_input","z":"ee931a1a.a78ae","name":"","label":"","tooltip":"","group":"ecbe742e.36bc8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":100,"y":100,"wires":[["a787ed35.d65b4"]]},{"id":"3a5585e.547817a","type":"ui_text","z":"ee931a1a.a78ae","group":"61fc3484.38dc5c","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":630,"y":120,"wires":[]},{"id":"9f2af599.344e58","type":"http request","z":"ee931a1a.a78ae","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q={{payload}}&appid=15c9b19a8e4d2f9570a497c5f49d0541","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":220,"wires":[["8820ef83.e56c48","8d892826.fcb858","e40a36fa.f53a","6bd38364.82becc","8df2b2a1.e9f3d8","c2e19e7e.3376d8","8209b323.0f469","d6a4d761.791958"]]},{"id":"69a3f560.9b0034","type":"ui_toast","z":"ee931a1a.a78ae","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":670,"y":200,"wires":[]},{"id":"8820ef83.e56c48","type":"switch","z":"ee931a1a.a78ae","name":"","property":"payload.main.humidity","propertyType":"msg","rules":[{"t":"gt","v":"55","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":220,"wires":[["6704be9f.c3885"]]},{"id":"8d892826.fcb858","type":"change","z":"ee931a1a.a78ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":" 'The Weather today in ' & payload.name & ' is  '&  payload.weather[0].main","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":160,"wires":[["3a5585e.547817a"]]},{"id":"432cc3fc.2a3b14","type":"change","z":"ee931a1a.a78ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":120,"wires":[["3a5585e.547817a"]]},{"id":"a787ed35.d65b4","type":"switch","z":"ee931a1a.a78ae","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":140,"wires":[["432cc3fc.2a3b14"],["9f2af599.344e58"]]},{"id":"6704be9f.c3885","type":"change","z":"ee931a1a.a78ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"High Humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["69a3f560.9b0034"]]},{"id":"e40a36fa.f53a","type":"debug","z":"ee931a1a.a78ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":340,"wires":[]},{"id":"ecccbd51.fd4238","type":"inject","z":"ee931a1a.a78ae","name":"","topic":"","payload":"Torino","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["a787ed35.d65b4"]]},{"id":"8209b323.0f469","type":"ui_worldmap","z":"ee931a1a.a78ae","group":"61fc3484.38dc5c","order":2,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":620,"y":60,"wires":[]},{"id":"6bd38364.82becc","type":"debug","z":"ee931a1a.a78ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.name","targetType":"msg","x":550,"y":380,"wires":[]},{"id":"8df2b2a1.e9f3d8","type":"debug","z":"ee931a1a.a78ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.coord.lon","targetType":"msg","x":560,"y":440,"wires":[]},{"id":"c2e19e7e.3376d8","type":"debug","z":"ee931a1a.a78ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.coord.lat","targetType":"msg","x":560,"y":500,"wires":[]},{"id":"d6a4d761.791958","type":"function","z":"ee931a1a.a78ae","name":"","func":"msg.payload={\n    \"name\":msg.payload.name,\n    \"lat\": msg.payload.coord.lat,\n    \"lon\": msg.payload.coord.lon\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":360,"wires":[["8209b323.0f469"]]},{"id":"ecbe742e.36bc8","type":"ui_group","z":"","name":"City","tab":"5b586bbd.c349bc","order":1,"disp":true,"width":"3","collapse":false},{"id":"61fc3484.38dc5c","type":"ui_group","z":"","name":"Weather Forecast Today","tab":"5b586bbd.c349bc","order":2,"disp":true,"width":"12","collapse":false},{"id":"5b586bbd.c349bc","type":"ui_tab","z":"","name":"METEO","icon":"dashboard","order":5,"disabled":false,"hidden":false}]