Node-Red/Other/meteoCalcoloTemperature.json
[{"id":"4a24828c.02f02c","type":"tab","label":"Calcolo temperature","disabled":true,"info":""},{"id":"1b6189f6.fe4ce6","type":"inject","z":"4a24828c.02f02c","name":"","topic":"","payload":"Torino","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":240,"wires":[["352f8349.ec73ec"]]},{"id":"352f8349.ec73ec","type":"http request","z":"4a24828c.02f02c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q={{payload}}&appid=15c9b19a8e4d2f9570a497c5f49d0541","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":180,"wires":[["3e25ce21.998192","f7664bf8.e09fe8","71be99d.a8f5c68"]]},{"id":"3e25ce21.998192","type":"debug","z":"4a24828c.02f02c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":160,"wires":[]},{"id":"f7664bf8.e09fe8","type":"debug","z":"4a24828c.02f02c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.humidity","targetType":"msg","x":520,"y":220,"wires":[]},{"id":"71be99d.a8f5c68","type":"function","z":"4a24828c.02f02c","name":"Calcolo temperature","func":"var st1 = \"A \";\nvar um = \" l'umidità è di\";\nvar temp = \" e la temperatura è di: \"\n\nvar gradi =msg.payload.main.temp;\nvar name = msg.payload.name;\nvar humidity = msg.payload.main.humidity;\n\ngradi = parseInt(gradi)-273;\n\nmsg.payload = st1.concat(name, um, \" \", humidity,temp,gradi,\" Gradi Centigradi\");\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":280,"wires":[["cde5fa7b.625a48","a1d0b421.0431f8"]]},{"id":"cde5fa7b.625a48","type":"debug","z":"4a24828c.02f02c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":300,"wires":[]},{"id":"a1d0b421.0431f8","type":"ui_text","z":"4a24828c.02f02c","group":"ea1c7e04.58b66","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":360,"wires":[]},{"id":"8e450dac.cdf44","type":"ui_text_input","z":"4a24828c.02f02c","name":"","label":"","tooltip":"","group":"1ef58177.e583ff","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":240,"y":120,"wires":[["352f8349.ec73ec"]]},{"id":"ea1c7e04.58b66","type":"ui_group","z":"","name":"Umidità e Temperatura","tab":"d300a03.768406","order":4,"disp":true,"width":"8","collapse":false},{"id":"1ef58177.e583ff","type":"ui_group","z":"","name":"Città","tab":"d300a03.768406","order":3,"disp":true,"width":"3","collapse":false},{"id":"d300a03.768406","type":"ui_tab","z":"","d":true,"name":"METEO","icon":"dashboard","order":5,"disabled":false,"hidden":false}]