Node-Red/Other/meteoMappaSecondo.json
[{"id":"703d708e.d7a5b8","type":"tab","label":"Meteo con Mappa (Unione Payload)","disabled":true,"info":""},{"id":"5effe87.b531898","type":"ui_text_input","z":"703d708e.d7a5b8","name":"Input City","label":"","tooltip":"","group":"c9fba769.23253","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":80,"y":220,"wires":[["3c08b64b.48022a","ae58bbd1.1c18"]]},{"id":"3c08b64b.48022a","type":"http request","z":"703d708e.d7a5b8","name":"Ping Open Weather Maps APIs","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q={{payload}}&appid=15c9b19a8e4d2f9570a497c5f49d0541","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":240,"wires":[["bff0f813.50f618","c9e086db.bbada","514d28c2.d89a4","ba4fc609.48a7e"]]},{"id":"78911069.c65588","type":"inject","z":"703d708e.d7a5b8","name":"","topic":"","payload":"Berlin","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["3c08b64b.48022a","ae58bbd1.1c18"]]},{"id":"16de43d1.283014","type":"debug","z":"703d708e.d7a5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":380,"wires":[]},{"id":"acaaec7d.de102","type":"ui_worldmap","z":"703d708e.d7a5b8","group":"df3a35f0.857338","order":11,"width":"14","height":"7","name":"","lat":"45","lon":"7","zoom":"12","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","path":"/worldmap","x":780,"y":300,"wires":[]},{"id":"2d631606.7d0352","type":"function","z":"703d708e.d7a5b8","name":"Create Map Object","func":"// payload.standard.city\nmsg.payload = {\"name\": msg.payload[0].name, \"lat\": msg.payload[1].latt , \"lon\" : msg.payload[1].longt}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":380,"wires":[["acaaec7d.de102","16de43d1.283014"]]},{"id":"bff0f813.50f618","type":"debug","z":"703d708e.d7a5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.weather[0].description","targetType":"msg","x":640,"y":240,"wires":[]},{"id":"91e12a5b.aee648","type":"ui_text","z":"703d708e.d7a5b8","group":"df3a35f0.857338","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":180,"wires":[]},{"id":"c9e086db.bbada","type":"change","z":"703d708e.d7a5b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather[0].description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":180,"wires":[["91e12a5b.aee648"]]},{"id":"ae58bbd1.1c18","type":"http request","z":"703d708e.d7a5b8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://geocode.xyz/{{payload}}?json=1","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":300,"wires":[["ba4fc609.48a7e"]]},{"id":"514d28c2.d89a4","type":"debug","z":"703d708e.d7a5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.name","targetType":"msg","x":550,"y":300,"wires":[]},{"id":"ba4fc609.48a7e","type":"join","z":"703d708e.d7a5b8","name":"Unire 2 Payloads","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":230,"y":360,"wires":[["c42c953.5682f68","2d631606.7d0352"]]},{"id":"c42c953.5682f68","type":"debug","z":"703d708e.d7a5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":440,"wires":[]},{"id":"b51a317c.38075","type":"ui_text_input","z":"703d708e.d7a5b8","name":"Input City","label":"","tooltip":"","group":"20a6473d.5dd4b8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":140,"y":540,"wires":[["920965e0.b938b8","77ffce5f.3ddc8","213d6a4a.470b76"]]},{"id":"920965e0.b938b8","type":"http request","z":"703d708e.d7a5b8","name":"Ping Open Weather Maps APIs","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q={{payload}}&appid=15c9b19a8e4d2f9570a497c5f49d0541","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":560,"wires":[["fd193f81.e81de8","6658d455.8ea5f4","d1e6540b.6bdf48","4e426dc7.2cdaec"]]},{"id":"22bd6cee.8f6a34","type":"inject","z":"703d708e.d7a5b8","name":"","topic":"","payload":"milano","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":600,"wires":[["920965e0.b938b8","77ffce5f.3ddc8","213d6a4a.470b76"]]},{"id":"e0857435.a09898","type":"debug","z":"703d708e.d7a5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":700,"wires":[]},{"id":"8eed774.2874c08","type":"ui_worldmap","z":"703d708e.d7a5b8","group":"1d83af53.b0a6f9","order":11,"width":"14","height":"7","name":"","lat":"45","lon":"7","zoom":"12","layer":"OSM","cluster":"","maxage":"10","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","path":"/worldmap","x":840,"y":620,"wires":[]},{"id":"4ce0a0b3.9cc4e8","type":"function","z":"703d708e.d7a5b8","name":"Create Map Object","func":"// payload.standard.city\nmsg.payload = {\n    \"name\": flow.get(\"MyData\"), \n    \"lat\": msg.payload[1].latt , \n    \"lon\" : msg.payload[1].longt\n}\n//msg.payload = {\"name\": msg.payload[0].name, \"lat\": msg.payload[1].latt , \"lon\" : msg.payload[1].longt}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":680,"wires":[["8eed774.2874c08","e0857435.a09898"]]},{"id":"fd193f81.e81de8","type":"debug","z":"703d708e.d7a5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.weather[0].description","targetType":"msg","x":700,"y":560,"wires":[]},{"id":"570f2295.d10f44","type":"ui_text","z":"703d708e.d7a5b8","group":"1d83af53.b0a6f9","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":500,"wires":[]},{"id":"6658d455.8ea5f4","type":"change","z":"703d708e.d7a5b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather[0].description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":500,"wires":[["570f2295.d10f44"]]},{"id":"77ffce5f.3ddc8","type":"http request","z":"703d708e.d7a5b8","name":"APi GeoCode","method":"GET","ret":"obj","paytoqs":false,"url":"https://geocode.xyz/{{payload}}?json=1","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":620,"wires":[["4e426dc7.2cdaec"]]},{"id":"e752a154.6b943","type":"debug","z":"703d708e.d7a5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":800,"wires":[]},{"id":"213d6a4a.470b76","type":"change","z":"703d708e.d7a5b8","name":"Salva Città in Variabile di Flow \"MyData\"","rules":[{"t":"set","p":"MyData","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":740,"wires":[["e752a154.6b943"]]},{"id":"d1e6540b.6bdf48","type":"debug","z":"703d708e.d7a5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.name","targetType":"msg","x":610,"y":620,"wires":[]},{"id":"4e426dc7.2cdaec","type":"join","z":"703d708e.d7a5b8","name":"Unire 2 Payloads","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":290,"y":680,"wires":[["83cadbd8.97ca4","4ce0a0b3.9cc4e8"]]},{"id":"83cadbd8.97ca4","type":"debug","z":"703d708e.d7a5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":740,"wires":[]},{"id":"c9fba769.23253","type":"ui_group","z":"","name":"City","tab":"dd55b7ba.6ec5f8","order":1,"disp":true,"width":"3","collapse":false},{"id":"df3a35f0.857338","type":"ui_group","z":"","name":"Weather Forecast Today","tab":"dd55b7ba.6ec5f8","order":2,"disp":true,"width":"15","collapse":false},{"id":"20a6473d.5dd4b8","type":"ui_group","z":"","name":"City","tab":"684b802a.844ed8","order":1,"disp":true,"width":"3","collapse":false},{"id":"1d83af53.b0a6f9","type":"ui_group","z":"","name":"Weather Forecast Today","tab":"684b802a.844ed8","order":2,"disp":true,"width":"15","collapse":false},{"id":"dd55b7ba.6ec5f8","type":"ui_tab","z":"","name":"METEO_1","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"684b802a.844ed8","type":"ui_tab","z":"","name":"METEO_1","icon":"dashboard","order":2,"disabled":false,"hidden":false}]