Node-Red/Other/meteoMappaPrimo.json
[{"id":"c5ec4771.d06808","type":"tab","label":"Meteo con Mappa(Garbolino Bot)","disabled":true,"info":""},{"id":"36aeb9e5.73ee66","type":"ui_text_input","z":"c5ec4771.d06808","name":"Input City","label":"","tooltip":"","group":"793e27c.7c18dd8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":60,"y":140,"wires":[["f6551eb0.48d3c8","50dcde31.55e2c8"]]},{"id":"f6551eb0.48d3c8","type":"http request","z":"c5ec4771.d06808","name":"Ping Open Weather Maps APIs","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q={{payload}}&appid=15c9b19a8e4d2f9570a497c5f49d0541","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":120,"wires":[["77965461.766f6c","efeb8549.8f1bd","1044a1a.d5d54de"]]},{"id":"b3e52a48.167cc8","type":"inject","z":"c5ec4771.d06808","name":"","topic":"","payload":"Berlin","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["f6551eb0.48d3c8","50dcde31.55e2c8"]]},{"id":"57f6dbd9.ff96bc","type":"debug","z":"c5ec4771.d06808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":340,"wires":[]},{"id":"c0226faf.ba7b38","type":"ui_worldmap","z":"c5ec4771.d06808","group":"3d0cb1f6.4e4a36","order":11,"width":"14","height":"7","name":"","lat":"45","lon":"7","zoom":"12","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","path":"/worldmap","x":780,"y":300,"wires":[]},{"id":"77965461.766f6c","type":"function","z":"c5ec4771.d06808","name":"Create Map Object","func":"\nmsg.payload = {\n    \"name\": msg.payload.standard.city,\n    \"lat\": msg.payload.latt , \n    \"lon\" : msg.payload.longt\n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["c0226faf.ba7b38","57f6dbd9.ff96bc"]]},{"id":"efeb8549.8f1bd","type":"debug","z":"c5ec4771.d06808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.weather[0].description","targetType":"msg","x":640,"y":240,"wires":[]},{"id":"65ecce93.7d56d8","type":"ui_text","z":"c5ec4771.d06808","group":"3d0cb1f6.4e4a36","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":180,"wires":[]},{"id":"1044a1a.d5d54de","type":"change","z":"c5ec4771.d06808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather[0].description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":80,"wires":[["65ecce93.7d56d8"]]},{"id":"50dcde31.55e2c8","type":"http request","z":"c5ec4771.d06808","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://geocode.xyz/{{payload}}?json=1","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":300,"wires":[["77965461.766f6c"]]},{"id":"793e27c.7c18dd8","type":"ui_group","z":"","name":"City","tab":"76bdea68.5c639c","order":1,"disp":true,"width":"3","collapse":false},{"id":"3d0cb1f6.4e4a36","type":"ui_group","z":"","name":"Weather Forecast Today","tab":"76bdea68.5c639c","order":2,"disp":true,"width":"15","collapse":false},{"id":"76bdea68.5c639c","type":"ui_tab","z":"","name":"METEO_1","icon":"dashboard","order":2,"disabled":false,"hidden":false}]