Node-Red/Other/MQTT.json
[{"id":"51b030a7.19092","type":"tab","label":"Minimal MQTT","disabled":true,"info":""},{"id":"b2f58387.3fb0b","type":"mqtt out","z":"51b030a7.19092","name":"Broker Locale","topic":"/davide","qos":"","retain":"","broker":"5d5dfa11.da3384","x":420,"y":180,"wires":[]},{"id":"177d1d13.9c0ab3","type":"inject","z":"51b030a7.19092","name":"","topic":"/ciao","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":140,"wires":[["b2f58387.3fb0b","ec4cb65.a446448"]]},{"id":"99536a7a.1df8e8","type":"mqtt in","z":"51b030a7.19092","name":"","topic":"/ciao","qos":"0","datatype":"auto","broker":"2cd11241.4cec0e","x":180,"y":260,"wires":[["aec42e42.2578"]]},{"id":"aec42e42.2578","type":"debug","z":"51b030a7.19092","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":300,"wires":[]},{"id":"2bef9439.c5a82c","type":"inject","z":"51b030a7.19092","name":"","topic":"/json","payload":"{\"Città\":\"Torino\",\"Provincia\":\"Torino\",\"Regione\":\"Piemonte\",\"Stato\":\"Italia\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":60,"wires":[[]]},{"id":"8c7a6613.16c378","type":"mqtt in","z":"51b030a7.19092","name":"","topic":"/json","qos":"0","datatype":"json","broker":"2cd11241.4cec0e","x":170,"y":320,"wires":[[]]},{"id":"deed08f3.126558","type":"inject","z":"51b030a7.19092","name":"","topic":"/ciao","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":180,"wires":[["b2f58387.3fb0b","ec4cb65.a446448"]]},{"id":"78373655.c8ac58","type":"inject","z":"51b030a7.19092","name":"","topic":"/ciao","payload":"Ciao ragazzi!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["b2f58387.3fb0b"]]},{"id":"c4aa26c5.1bebf8","type":"mqtt in","z":"51b030a7.19092","name":"Broker Online","topic":"/","qos":"0","datatype":"auto","broker":"2cd11241.4cec0e","x":390,"y":260,"wires":[["aec42e42.2578"]]},{"id":"ec4cb65.a446448","type":"mqtt out","z":"51b030a7.19092","name":"Broker Online","topic":"/davide","qos":"","retain":"","broker":"2cd11241.4cec0e","x":420,"y":140,"wires":[]},{"id":"efd03a4b.8d9578","type":"mqtt in","z":"51b030a7.19092","name":"Broker Locale","topic":"/ciao","qos":"0","datatype":"auto","broker":"5d5dfa11.da3384","x":390,"y":320,"wires":[["aec42e42.2578"]]},{"id":"1c25a590.a4cd6a","type":"debug","z":"51b030a7.19092","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":440,"wires":[]},{"id":"d9f0c184.efc9e","type":"mqtt in","z":"51b030a7.19092","name":"","topic":"/davide","qos":"2","datatype":"auto","broker":"2cd11241.4cec0e","x":220,"y":460,"wires":[["1c25a590.a4cd6a"]]},{"id":"5d5dfa11.da3384","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2cd11241.4cec0e","type":"mqtt-broker","z":"","name":"","broker":" bloodhound.rmq.cloudamqp.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]