Node-Red/Other/simpleTime.json
[{"id":"2714506e.946c1","type":"tab","label":"Simple time","disabled":false,"info":""},{"id":"5f583e0b.1962f","type":"simpletime","z":"2714506e.946c1","name":"","x":250,"y":120,"wires":[["4d6d823d.d1eb7c","9f0c8370.84a41","ccee840d.00a968"]]},{"id":"5584a9e5.63f758","type":"inject","z":"2714506e.946c1","name":"","topic":"Date","payload":"Today is","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["5f583e0b.1962f"]]},{"id":"9f0c8370.84a41","type":"debug","z":"2714506e.946c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":160,"wires":[]},{"id":"ccee840d.00a968","type":"debug","z":"2714506e.946c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":60,"wires":[]},{"id":"4d6d823d.d1eb7c","type":"debug","z":"2714506e.946c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload & mydate","targetType":"jsonata","x":500,"y":260,"wires":[]}]