Node-Red/Other/soluzioneVerificaMeteo.json
[{"id":"ad6b955d.913878","type":"tab","label":"Soluzione Verifica con Funzioni","disabled":true,"info":""},{"id":"6aed95fd.45028c","type":"function","z":"ad6b955d.913878","name":"concatenazione","func":"var st1 = msg.payload;\nvar st2 = msg.topic;\n\nmsg.payload = st1.concat(\" \",st2);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["64ee82d4.6eb4ec"]]},{"id":"e8cc4c8e.e490c","type":"inject","z":"ad6b955d.913878","name":"","topic":"world","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["6aed95fd.45028c"]]},{"id":"64ee82d4.6eb4ec","type":"debug","z":"ad6b955d.913878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":100,"wires":[]},{"id":"2a731d4a.8beda2","type":"inject","z":"ad6b955d.913878","name":"","topic":"","payload":"Torino","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":240,"wires":[["261c0d1d.346122"]]},{"id":"261c0d1d.346122","type":"http request","z":"ad6b955d.913878","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q={{payload}}&appid=15c9b19a8e4d2f9570a497c5f49d0541","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":260,"wires":[["d42eebad.4346a8","ba11ccd4.b811d","8e0f66fe.63b7e8"]]},{"id":"d42eebad.4346a8","type":"debug","z":"ad6b955d.913878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.humidity","targetType":"msg","x":510,"y":260,"wires":[]},{"id":"ba11ccd4.b811d","type":"debug","z":"ad6b955d.913878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":180,"wires":[]},{"id":"8e0f66fe.63b7e8","type":"function","z":"ad6b955d.913878","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["80f43d2a.a74d4"]]},{"id":"80f43d2a.a74d4","type":"debug","z":"ad6b955d.913878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":360,"wires":[]}]