Node-Red/Bot_Telegram/bot_Guidone.json
[{"id":"8f2ec725.edcfc8","type":"tab","label":"Flow Bot Guidone","disabled":true,"info":""},{"id":"3d847f77.5baa2","type":"chatbot-telegram-receive","z":"8f2ec725.edcfc8","bot":"9e66c68.0df2a38","botProduction":"","x":130,"y":140,"wires":[["19f45b60.734a75"]]},{"id":"45c576e4.093a18","type":"chatbot-telegram-send","z":"8f2ec725.edcfc8","bot":"9e66c68.0df2a38","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":810,"y":340,"wires":[]},{"id":"ccd1aea.0b9175","type":"chatbot-message","z":"8f2ec725.edcfc8","name":"","message":[{"message":"Ciao {{firstName}}, condividi le coordinate per trovare la farmacia piu vicina"}],"language":"none","x":410,"y":200,"wires":[["33226fd3.ae3c7"]]},{"id":"1a6e18dd.66f397","type":"chatbot-message","z":"8f2ec725.edcfc8","name":"","message":[{"message":"Non ho capito"},{"message":"Riprovaci"}],"language":"none","x":470,"y":400,"wires":[["45c576e4.093a18"]]},{"id":"33226fd3.ae3c7","type":"chatbot-telegram-send","z":"8f2ec725.edcfc8","bot":"9e66c68.0df2a38","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":430,"y":100,"wires":[["bf35725.025179"]]},{"id":"43c518d5.cf31c8","type":"chatbot-message","z":"8f2ec725.edcfc8","name":"","message":[{"message":"La tua posizione\nlat {{payload.content.latitude}}\nlon {{payload.content.longitude}}"}],"language":"none","x":710,"y":160,"wires":[["da312155.d2ab4"]]},{"id":"da312155.d2ab4","type":"chatbot-telegram-send","z":"8f2ec725.edcfc8","bot":"9e66c68.0df2a38","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":770,"y":280,"wires":[]},{"id":"bf35725.025179","type":"chatbot-rules","z":"8f2ec725.edcfc8","name":"","rules":[{"type":"messageType","messageType":"location"},{"type":"catchAll"}],"outputs":2,"x":510,"y":280,"wires":[["43c518d5.cf31c8"],["1a6e18dd.66f397"]]},{"id":"8c0d5cbc.1276f","type":"inject","z":"8f2ec725.edcfc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":560,"wires":[["3b8e1379.a5285c"]]},{"id":"3b8e1379.a5285c","type":"chatbot-nlpjs-intent","z":"8f2ec725.edcfc8","intent":"search","language":"it","utterances":["dov'e' la farmacia piu vicina","dove trovo una farmacia","sai indicarmi una farmacia","trovami una farmacia","dov'e' una farmacia","una farmacia qui vicino?","dove sono le farmacie"],"outputs":1,"x":390,"y":560,"wires":[["8dbc8c74.f1746"]]},{"id":"8dbc8c74.f1746","type":"chatbot-nlpjs-train","z":"8f2ec725.edcfc8","name":"","debug":true,"x":700,"y":560,"wires":[[]]},{"id":"19f45b60.734a75","type":"chatbot-nlpjs","z":"8f2ec725.edcfc8","name":"","x":150,"y":220,"wires":[["15d89304.0a437d"]]},{"id":"15d89304.0a437d","type":"chatbot-rules","z":"8f2ec725.edcfc8","name":"","rules":[{"type":"isIntentName","intent":"search"},{"type":"catchAll"}],"outputs":2,"x":290,"y":280,"wires":[["ccd1aea.0b9175"],["1a6e18dd.66f397"]]},{"id":"9e66c68.0df2a38","type":"chatbot-telegram-node","z":"","botname":"Test","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":true,"webHook":"","connectMode":"polling"}]