Node-Red/Bot_Telegram/buttonsBot.json
[{"id":"94af302.18221d","type":"tab","label":"bot bottoni","disabled":true,"info":""},{"id":"4fa1d784.0c8298","type":"chatbot-telegram-receive","z":"94af302.18221d","bot":"26871db7.66cf12","botProduction":"","x":170,"y":180,"wires":[["33cdf7b4.5dca28"]]},{"id":"33cdf7b4.5dca28","type":"chatbot-inline-buttons","z":"94af302.18221d","name":"","buttons":[{"type":"postback","label":"panini","value":"0","answer":"","alert":false,"style":""},{"type":"postback","label":"pizza bianca","value":"1","answer":"","alert":false,"style":""},{"type":"postback","label":"non voglio niente","value":"2","answer":"","alert":false,"style":"danger"}],"message":"Ciao. Cosa vuoi ordinare?","x":160,"y":340,"wires":[["50a07c5a.482424","bf1449b9.34d398","3e48dfa4.baf28","9913c9ac.672c58"]]},{"id":"50a07c5a.482424","type":"debug","z":"94af302.18221d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":440,"wires":[]},{"id":"bf1449b9.34d398","type":"debug","z":"94af302.18221d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":320,"wires":[]},{"id":"3e48dfa4.baf28","type":"debug","z":"94af302.18221d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"originalMessage.text","targetType":"msg","x":450,"y":100,"wires":[]},{"id":"5bd08db5.bce584","type":"switch","z":"94af302.18221d","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":200,"wires":[["7f8dcf5c.3e53d"],["8bb4e5db.3c95f8"],["85c2a98f.02db58"]]},{"id":"7f8dcf5c.3e53d","type":"chatbot-inline-buttons","z":"94af302.18221d","name":"","buttons":[{"type":"postback","label":"1","value":"1","answer":"Hai scelto 1 Panino","alert":true,"style":"primary"},{"type":"postback","label":"2","value":"2","answer":"Hai scelto 2 Panini","alert":true,"style":"primary"},{"type":"postback","label":"3","value":"3","answer":"Hai scelto 3 Panini","alert":true,"style":"primary"},{"type":"postback","label":"4","value":"4","answer":"Hai scelto 4 Panini","alert":true,"style":"primary"}],"message":"Quanti panini vuoi?","x":680,"y":120,"wires":[["afe2d1c7.16d95"]]},{"id":"afe2d1c7.16d95","type":"chatbot-telegram-send","z":"94af302.18221d","bot":"26871db7.66cf12","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":990,"y":200,"wires":[]},{"id":"c9322232.f1774","type":"chatbot-telegram-send","z":"94af302.18221d","bot":"26871db7.66cf12","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1030,"y":300,"wires":[]},{"id":"8bb4e5db.3c95f8","type":"chatbot-inline-buttons","z":"94af302.18221d","name":"","buttons":[{"type":"postback","label":"1","value":"1","answer":"Hai scelto 1 pizza","alert":false,"style":"primary"},{"type":"postback","label":"2","value":"2","answer":"Hai scelto 2 pizze","alert":false,"style":"primary"},{"type":"postback","label":"3","value":"3","answer":"Hai scelto 3 pizze","alert":false,"style":"primary"},{"type":"postback","label":"4","value":"4","answer":"Hai scelto 4 pizze","alert":false,"style":"primary"}],"message":"Quanta pizza vuoi?","x":800,"y":280,"wires":[["c9322232.f1774"]]},{"id":"85c2a98f.02db58","type":"chatbot-message","z":"94af302.18221d","name":"","message":[{"message":"Grazie, se cambi idea premi /start !"}],"language":"","x":770,"y":340,"wires":[["cad16789.838818"]]},{"id":"cad16789.838818","type":"chatbot-telegram-send","z":"94af302.18221d","bot":"26871db7.66cf12","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1010,"y":380,"wires":[]},{"id":"9913c9ac.672c58","type":"chatbot-telegram-send","z":"94af302.18221d","bot":"26871db7.66cf12","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":410,"y":260,"wires":[["5bd08db5.bce584","1aeb8a93.372f55"]]},{"id":"1aeb8a93.372f55","type":"debug","z":"94af302.18221d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":360,"wires":[]},{"id":"26871db7.66cf12","type":"chatbot-telegram-node","z":"","botname":"morrittibotton_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]