Node-Red/Bot_Telegram/farmacieBot(notComplete).json
[{"id":"1e523b36.56e735","type":"tab","label":"Farmacie","disabled":false,"info":""},{"id":"a3b5e0cc.fd739","type":"inject","z":"1e523b36.56e735","name":"","topic":"","payload":"https://it.wikipedia.org/wiki/Pagina_principale","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["57408aac.6d8fa4"]]},{"id":"f8b1fa02.c8b018","type":"debug","z":"1e523b36.56e735","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":80,"wires":[]},{"id":"57408aac.6d8fa4","type":"http request","z":"1e523b36.56e735","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.abcsalute.it/farmacie-di-turno/piemonte/torino/settimo-torinese","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":260,"wires":[["12aea2e4.91e25d"]]},{"id":"53b96f1f.30117","type":"html","z":"1e523b36.56e735","name":"scrap","property":"payload","outproperty":"payload","tag":"<a href=\"https://www.cercarime.it/sera.html\">sera</a>","ret":"text","as":"single","x":490,"y":80,"wires":[["f8b1fa02.c8b018","d0f0ee30.02343"]]},{"id":"12aea2e4.91e25d","type":"split","z":"1e523b36.56e735","name":"","splt":".article","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":390,"y":160,"wires":[["53b96f1f.30117"]]},{"id":"d0f0ee30.02343","type":"function","z":"1e523b36.56e735","name":"arrayRead","func":"var list = \"\";\n\nfor(var i = 0; i < msg.payload.length; i++){\n    list += msg.payload[i];\n}\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":140,"wires":[["f8b1fa02.c8b018"]]}]