Node-Red/Bot_Telegram/gttBotOk.json
[{"id":"64f2659f.3ac03c","type":"tab","label":"GttMMM_bot","disabled":false,"info":""},{"id":"6163e84a.1d7e68","type":"chatbot-telegram-receive","z":"64f2659f.3ac03c","bot":"ed9ac34c.1de19","botProduction":"","x":110,"y":120,"wires":[["1e4be538.a86d8b"]]},{"id":"5c1fbca7.261544","type":"chatbot-telegram-send","z":"64f2659f.3ac03c","bot":"ed9ac34c.1de19","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":130,"y":260,"wires":[["242e89ac.02c506"]]},{"id":"1e4be538.a86d8b","type":"chatbot-message","z":"64f2659f.3ac03c","name":"","message":[{"message":"CIAO {{username}}\nInserisci il numero della fermata..."}],"language":"","x":330,"y":160,"wires":[["5c1fbca7.261544"]]},{"id":"242e89ac.02c506","type":"function","z":"64f2659f.3ac03c","name":"ConversioneIntero","func":"msg.payload = parseInt(msg.payload.content);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["60bffbe.e520d04"]]},{"id":"60bffbe.e520d04","type":"http request","z":"64f2659f.3ac03c","name":"Gtt API","method":"GET","ret":"obj","paytoqs":false,"url":"http://gpa.madbob.org/query.php?stop={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":180,"y":360,"wires":[["52f9956b.df751c","f10062f1.cf636"]]},{"id":"52f9956b.df751c","type":"function","z":"64f2659f.3ac03c","name":"LetturaArray","func":"var list = \"Ecco l'orario dei bus:\\n\\n\"\n\nfor(var i = 0; i < msg.payload.length; i++){\n    list += msg.payload[i].line +\": \"+msg.payload[i].hour+\"\\n\";    \n       \n}    \n\n\n\nmsg.payload = list;\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["e4338ae.f77ad78"]]},{"id":"59c97ea0.fffaf","type":"chatbot-telegram-send","z":"64f2659f.3ac03c","bot":"ed9ac34c.1de19","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":750,"y":360,"wires":[]},{"id":"e4338ae.f77ad78","type":"chatbot-inline-buttons","z":"64f2659f.3ac03c","name":"","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":560,"y":360,"wires":[["59c97ea0.fffaf"]]},{"id":"f10062f1.cf636","type":"debug","z":"64f2659f.3ac03c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":460,"wires":[]},{"id":"ed9ac34c.1de19","type":"chatbot-telegram-node","z":"","botname":"GttMMM_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]