Node-Red/Bot_Telegram/guidaTvBot.json
[{"id":"49567a8a.e4c064","type":"tab","label":"Guida TV","disabled":false,"info":""},{"id":"3f062ad4.51ac86","type":"chatbot-telegram-receive","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","x":90,"y":920,"wires":[["db625e04.c93f2"]]},{"id":"e31efbde.dfdfe8","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":530,"y":920,"wires":[["77f4fcfe.525584"]]},{"id":"e1254c8.3f4a0b","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":830,"y":500,"wires":[["85912a69.15ee68","c267ce80.416c6","899f95bd.bad378"]]},{"id":"c64741de.d8996","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"raiButtons","buttons":[{"type":"postback","label":"RAI 1","value":"rai-1","answer":"","alert":false,"style":""},{"type":"postback","label":"RAI 2","value":"rai-2","answer":"","alert":false,"style":""},{"type":"postback","label":"RAI 3","value":"rai-3","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"RAI 5","value":"rai-5","answer":"","alert":false,"style":""},{"type":"postback","label":"RAI MOVIE","value":"rai-movie","answer":"","alert":false,"style":""},{"type":"postback","label":"RAI STORIA","value":"rai-storia","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"TGCOM 24","value":"TGCom24","answer":"","alert":false,"style":""},{"type":"postback","label":"CARTOONITO","value":"Cartoonito","answer":"","alert":false,"style":""},{"type":"postback","label":"RAI GULP","value":"rai-gulp","answer":"","alert":false,"style":""}],"message":"Premi il canale Tv di cui vuoi sapere la programmazione","x":620,"y":500,"wires":[["e1254c8.3f4a0b"]]},{"id":"db625e04.c93f2","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"reteButtons","buttons":[{"type":"postback","label":"RAI","value":"0","answer":"","alert":false,"style":""},{"type":"postback","label":"MEDIASET","value":"1","answer":"","alert":false,"style":""}],"message":"Ciao {{username}} seleziona una rete","x":330,"y":920,"wires":[["e31efbde.dfdfe8"]]},{"id":"77f4fcfe.525584","type":"switch","z":"49567a8a.e4c064","name":"reteSelection","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":920,"wires":[["c64741de.d8996"],["53d6d7ba.4bb878"]]},{"id":"85912a69.15ee68","type":"switch","z":"49567a8a.e4c064","name":"channelSelection","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"rai-1","vt":"str"},{"t":"eq","v":"rai-2","vt":"str"},{"t":"eq","v":"rai-3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1070,"y":180,"wires":[["1edd8715.cac8b9"],["23678190.8af78e"],["44fb8bc1.a40ec4"]]},{"id":"1edd8715.cac8b9","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":100,"wires":[["a0415187.c7d54"]]},{"id":"a0415187.c7d54","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":100,"wires":[["a9b8de4d.b322f"]]},{"id":"8a8abc49.8dd74","type":"comment","z":"49567a8a.e4c064","name":"GUIDA TV","info":"","x":240,"y":20,"wires":[]},{"id":"a9b8de4d.b322f","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1860,"y":100,"wires":[["ba865e51.b72d5"]]},{"id":"ba865e51.b72d5","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":2050,"y":100,"wires":[]},{"id":"23678190.8af78e","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":180,"wires":[["1362714.c815a8f"]]},{"id":"1362714.c815a8f","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":180,"wires":[["24bd140e.b48a5c"]]},{"id":"24bd140e.b48a5c","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1860,"y":180,"wires":[["f299b1ae.32874"]]},{"id":"f299b1ae.32874","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":2050,"y":180,"wires":[]},{"id":"44fb8bc1.a40ec4","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":260,"wires":[["754b02bb.760dac"]]},{"id":"754b02bb.760dac","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":260,"wires":[["9c4bf75c.5a81c8"]]},{"id":"9c4bf75c.5a81c8","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1860,"y":260,"wires":[["a965e481.216598"]]},{"id":"a965e481.216598","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":2050,"y":260,"wires":[]},{"id":"c267ce80.416c6","type":"switch","z":"49567a8a.e4c064","name":"channelSelection","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"rai-5","vt":"str"},{"t":"eq","v":"rai-movie","vt":"str"},{"t":"eq","v":"rai-storia","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1070,"y":500,"wires":[["c331ac1.0d4b15"],["4307274c.fa57a8"],["7d1ea598.64070c"]]},{"id":"c331ac1.0d4b15","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1470,"y":420,"wires":[["7d199f67.1d3e7"]]},{"id":"7d199f67.1d3e7","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":420,"wires":[["a1916f7.5d3e99"]]},{"id":"a1916f7.5d3e99","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1880,"y":420,"wires":[["bfab1391.9797f"]]},{"id":"bfab1391.9797f","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":2070,"y":420,"wires":[]},{"id":"563a53c7.b9de4c","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":2070,"y":500,"wires":[]},{"id":"10f0b1f3.b21a3e","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1880,"y":500,"wires":[["563a53c7.b9de4c"]]},{"id":"f5e94b66.512b18","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":500,"wires":[["10f0b1f3.b21a3e"]]},{"id":"4307274c.fa57a8","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1470,"y":500,"wires":[["f5e94b66.512b18"]]},{"id":"7d1ea598.64070c","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1470,"y":580,"wires":[["5048c6dd.526d58"]]},{"id":"5048c6dd.526d58","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":580,"wires":[["52dfbcb2.b74894"]]},{"id":"52dfbcb2.b74894","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1880,"y":580,"wires":[["b22c3ca7.66cc1"]]},{"id":"b22c3ca7.66cc1","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":2070,"y":580,"wires":[]},{"id":"899f95bd.bad378","type":"switch","z":"49567a8a.e4c064","name":"channelSelection","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"TGCom24","vt":"str"},{"t":"eq","v":"Cartoonito","vt":"str"},{"t":"eq","v":"rai-gulp","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1050,"y":780,"wires":[["c2f1db67.9030a8"],["e35fdb07.2694f8"],["7759ded0.fe693"]]},{"id":"c2f1db67.9030a8","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":700,"wires":[["8534af9d.3054d"]]},{"id":"8534af9d.3054d","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":700,"wires":[["e00dd94f.b10f08"]]},{"id":"e00dd94f.b10f08","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1860,"y":700,"wires":[["61e4a80a.59f448"]]},{"id":"61e4a80a.59f448","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":2050,"y":700,"wires":[]},{"id":"89a7ec11.14138","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":2050,"y":780,"wires":[]},{"id":"9ce7fae9.acade8","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1860,"y":780,"wires":[["89a7ec11.14138"]]},{"id":"fc3cebd2.fdb268","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":780,"wires":[["9ce7fae9.acade8"]]},{"id":"e35fdb07.2694f8","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":780,"wires":[["fc3cebd2.fdb268"]]},{"id":"7759ded0.fe693","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":860,"wires":[["5d069d92.a49e14"]]},{"id":"5d069d92.a49e14","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":860,"wires":[["764f68b8.aa2e18"]]},{"id":"764f68b8.aa2e18","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1860,"y":860,"wires":[["cdbac5ce.188fe8"]]},{"id":"cdbac5ce.188fe8","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":2050,"y":860,"wires":[]},{"id":"53d6d7ba.4bb878","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"mediasetButtons","buttons":[{"type":"postback","label":"RETE 4","value":"rete-4","answer":"","alert":false,"style":""},{"type":"postback","label":"CANALE 5","value":"canale-5","answer":"","alert":false,"style":""},{"type":"postback","label":"ITALIA 1","value":"italia-1","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"ITALIA 2","value":"italia-2","answer":"","alert":false,"style":""},{"type":"postback","label":"LA 5","value":"la-5","answer":"","alert":false,"style":""},{"type":"postback","label":"IRIS","value":"iris","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"FOCUS","value":"focus","answer":"","alert":false,"style":""},{"type":"postback","label":"VENTI","value":"venti","answer":"","alert":false,"style":""},{"type":"postback","label":"BOING","value":"boing","answer":"","alert":false,"style":""}],"message":"Premi il canale Tv di cui vuoi sapere la programmazione","x":330,"y":1340,"wires":[["a03dc030.dc971"]]},{"id":"a03dc030.dc971","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":670,"y":1340,"wires":[["7efc2250.f76ebc","c3d564.e5cb8aa","61cbe75.3d9c618"]]},{"id":"7efc2250.f76ebc","type":"switch","z":"49567a8a.e4c064","name":"channelSelection","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"rete-4","vt":"str"},{"t":"eq","v":"canale-5","vt":"str"},{"t":"eq","v":"italia-1","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":910,"y":1020,"wires":[["1664d192.34543e"],["8c1961a2.b8121"],["b7529fec.20db9"]]},{"id":"1664d192.34543e","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1290,"y":940,"wires":[["52c2d675.616118"]]},{"id":"52c2d675.616118","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":940,"wires":[["791a8a.be053578"]]},{"id":"791a8a.be053578","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1700,"y":940,"wires":[["5d424020.96093"]]},{"id":"5d424020.96093","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1890,"y":940,"wires":[]},{"id":"8c1961a2.b8121","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1290,"y":1020,"wires":[["30bad9c4.926706"]]},{"id":"30bad9c4.926706","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1020,"wires":[["12fc775d.ac2649"]]},{"id":"12fc775d.ac2649","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1700,"y":1020,"wires":[["5042dee4.b87fd"]]},{"id":"5042dee4.b87fd","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1890,"y":1020,"wires":[]},{"id":"b7529fec.20db9","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1290,"y":1100,"wires":[["2d577d95.6146f2"]]},{"id":"2d577d95.6146f2","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1100,"wires":[["31e9c558.a6ea7a"]]},{"id":"31e9c558.a6ea7a","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1700,"y":1100,"wires":[["80d90f39.4e9a4"]]},{"id":"80d90f39.4e9a4","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1890,"y":1100,"wires":[]},{"id":"c3d564.e5cb8aa","type":"switch","z":"49567a8a.e4c064","name":"channelSelection","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"italia-2","vt":"str"},{"t":"eq","v":"la-5","vt":"str"},{"t":"eq","v":"iris","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":910,"y":1340,"wires":[["39918b73.dc90b4"],["ba4ea95c.b08148"],["a0a951e8.ff4c7"]]},{"id":"39918b73.dc90b4","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1310,"y":1260,"wires":[["6bed48a6.1226d8"]]},{"id":"6bed48a6.1226d8","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":1260,"wires":[["665f6468.e0bdcc"]]},{"id":"665f6468.e0bdcc","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1720,"y":1260,"wires":[["bea40166.6db2d"]]},{"id":"bea40166.6db2d","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1910,"y":1260,"wires":[]},{"id":"10fd7b90.fbe814","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1910,"y":1340,"wires":[]},{"id":"fad3eca9.1aaef","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1720,"y":1340,"wires":[["10fd7b90.fbe814"]]},{"id":"eea82809.1eec08","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":1340,"wires":[["fad3eca9.1aaef"]]},{"id":"ba4ea95c.b08148","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1310,"y":1340,"wires":[["eea82809.1eec08"]]},{"id":"a0a951e8.ff4c7","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1310,"y":1420,"wires":[["9a4f7901.b6ca58"]]},{"id":"9a4f7901.b6ca58","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":1420,"wires":[["fb084383.e1e43"]]},{"id":"fb084383.e1e43","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1720,"y":1420,"wires":[["c7353f4d.1d356"]]},{"id":"c7353f4d.1d356","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1910,"y":1420,"wires":[]},{"id":"61cbe75.3d9c618","type":"switch","z":"49567a8a.e4c064","name":"channelSelection","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"focus","vt":"str"},{"t":"eq","v":"venti","vt":"str"},{"t":"eq","v":"boing","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":890,"y":1620,"wires":[["a91474d0.d21678"],["b6129047.87958"],["d582ee1e.47102"]]},{"id":"a91474d0.d21678","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1290,"y":1540,"wires":[["d5a1d8f5.7cea18"]]},{"id":"d5a1d8f5.7cea18","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1540,"wires":[["c6dfeb75.0e1288"]]},{"id":"c6dfeb75.0e1288","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1700,"y":1540,"wires":[["26ab786c.83d948"]]},{"id":"26ab786c.83d948","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1890,"y":1540,"wires":[]},{"id":"c9563c52.7c68b","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1890,"y":1620,"wires":[]},{"id":"f912542d.e5bd58","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1700,"y":1620,"wires":[["c9563c52.7c68b"]]},{"id":"6c9e5aba.47b754","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1620,"wires":[["f912542d.e5bd58"]]},{"id":"b6129047.87958","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1290,"y":1620,"wires":[["6c9e5aba.47b754"]]},{"id":"d582ee1e.47102","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":1290,"y":1700,"wires":[["1e00a6fc.03d209"]]},{"id":"1e00a6fc.03d209","type":"function","z":"49567a8a.e4c064","name":"concatInfo","func":"var list = \"\";\n\nvar title = msg.payload.data.channel;\n\n\nfor(var i = 0; i < msg.payload.data.events.length; i++){\n    list += msg.payload.data.events[i].hour + \": \" +\n    msg.payload.data.events[i].name + \"\\n\";\n}\n\nvar ris = title.toUpperCase() + \"\\n\\n\" + list;\n\nmsg.payload = ris;\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1700,"wires":[["2a9811c3.09e1ae"]]},{"id":"2a9811c3.09e1ae","type":"chatbot-inline-buttons","z":"49567a8a.e4c064","name":"resultat","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1700,"y":1700,"wires":[["b4876500.8b0988"]]},{"id":"b4876500.8b0988","type":"chatbot-telegram-send","z":"49567a8a.e4c064","bot":"6e72e93d.9dcad8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1890,"y":1700,"wires":[]},{"id":"7140da6c.18efa4","type":"debug","z":"49567a8a.e4c064","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":1840,"wires":[]},{"id":"2f6faa51.b4d2f6","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getChannelsList?api_key=KH1Udh2i403A0e5qzIGB7I","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":2020,"wires":[[]]},{"id":"34022133.65713e","type":"inject","z":"49567a8a.e4c064","name":"","topic":"","payload":"canale-5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1340,"y":1840,"wires":[["b7d04a1a.83dc38"]]},{"id":"b7d04a1a.83dc38","type":"http request","z":"49567a8a.e4c064","name":"requestIdChannel","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.pizidavi.altervista.org/GuidaTV-API/getSchedule?api_key=KH1Udh2i403A0e5qzIGB7I&channelId={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":1490,"y":1920,"wires":[["7140da6c.18efa4"]]},{"id":"6e72e93d.9dcad8","type":"chatbot-telegram-node","z":"","botname":"SerieTvMMM_Bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]