Node-Red/Bot_Telegram/meteoBotProf.json
[{"id":"e2f4f7d2.04f0f8","type":"tab","label":"BotMeteoDG","disabled":true,"info":""},{"id":"3925fea9.4f6062","type":"chatbot-telegram-receive","z":"e2f4f7d2.04f0f8","bot":"413ed79d.0614d8","botProduction":"e051bc84.696e4","x":150,"y":60,"wires":[["f746545c.6daf28"]]},{"id":"f746545c.6daf28","type":"chatbot-message","z":"e2f4f7d2.04f0f8","name":"","message":[{"message":"Ciao. Vuoi sapere il meteo di oggi? Basta che mi scrivi il nome della città ed io te lo metto qui in chat :)"}],"language":"it","x":140,"y":140,"wires":[["46ee4d16.0d95e4"]]},{"id":"94e940b5.80315","type":"chatbot-telegram-send","z":"e2f4f7d2.04f0f8","bot":"413ed79d.0614d8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":810,"y":220,"wires":[]},{"id":"5aae7c72.a80454","type":"chatbot-parse","z":"e2f4f7d2.04f0f8","name":"","parseType":"string","parseVariable":"citta","x":280,"y":260,"wires":[["974d7668.5398b8"],[]]},{"id":"a05cbcdc.97719","type":"html","z":"e2f4f7d2.04f0f8","name":"Latest update","property":"payload","outproperty":"payload","tag":"tr.situa2:nth-child(3) > td:nth-child(3)","ret":"text","as":"multi","x":560,"y":220,"wires":[["13818501.3d214b","ce2ee295.f6784"]]},{"id":"4e4ebfd.27c714","type":"inject","z":"e2f4f7d2.04f0f8","name":"","topic":"","payload":"Torino","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["974d7668.5398b8"]]},{"id":"974d7668.5398b8","type":"http request","z":"e2f4f7d2.04f0f8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.ilmeteo.it/meteo/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":340,"wires":[["a05cbcdc.97719","a25c53ce.0f121"]]},{"id":"13818501.3d214b","type":"debug","z":"e2f4f7d2.04f0f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":400,"wires":[]},{"id":"ce2ee295.f6784","type":"chatbot-message","z":"e2f4f7d2.04f0f8","name":"","message":[{"message":"a {{citta}} registriamo {{payload.content}}"}],"language":"it","x":720,"y":340,"wires":[["26a8bc0.889b044","94e940b5.80315"]]},{"id":"26a8bc0.889b044","type":"debug","z":"e2f4f7d2.04f0f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":420,"wires":[]},{"id":"46ee4d16.0d95e4","type":"chatbot-telegram-send","z":"e2f4f7d2.04f0f8","bot":"413ed79d.0614d8","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":210,"y":200,"wires":[["5aae7c72.a80454"]]},{"id":"a25c53ce.0f121","type":"debug","z":"e2f4f7d2.04f0f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":280,"wires":[]},{"id":"413ed79d.0614d8","type":"chatbot-telegram-node","z":"","botname":"MeteoGM_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"e051bc84.696e4","type":"chatbot-telegram-node","z":"","botname":"ITSICT2020_bot","usernames":"","providerToken":"1135375664:AAFRCDeMj5a2WvOMv52QB1QyzB-wCreYPNA","polling":"1000","store":"","log":"","debug":true,"webHook":"","connectMode":"polling"}]