Node-Red/Bot_Telegram/meteBotOk.json
[{"id":"eee20307.d1317","type":"tab","label":"BotMeteo","disabled":false,"info":""},{"id":"2d74bc5a.111af4","type":"chatbot-telegram-receive","z":"eee20307.d1317","bot":"ef09f84f.d997c8","botProduction":"","x":110,"y":60,"wires":[["2ad6121e.9316de"]]},{"id":"6c73ed5c.b11d04","type":"chatbot-telegram-send","z":"eee20307.d1317","bot":"ef09f84f.d997c8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":770,"y":140,"wires":[]},{"id":"3af6a4f8.a8b42c","type":"http request","z":"eee20307.d1317","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q={{payload}}&appid=15c9b19a8e4d2f9570a497c5f49d0541","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":320,"wires":[["f4aba8a0.5821e8","e7870611.78b5f8"]]},{"id":"2ad6121e.9316de","type":"chatbot-message","z":"eee20307.d1317","name":"MxgBenvenuto","message":[{"message":"Ciao {{username}}\nInserisci nome Città.."},{"message":"Ehi {{username}}\nDi che città vuoi sapere il meteo?"},{"message":"Ciao {{username}}\nScrivi il nome di una città :)"},{"message":"Vuoi sapere il meteo {{username}}?\nScrivimi dove vivi :D"}],"language":"it","x":450,"y":60,"wires":[["2142ba2b.b47eb6"]]},{"id":"2142ba2b.b47eb6","type":"chatbot-telegram-send","z":"eee20307.d1317","bot":"ef09f84f.d997c8","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":270,"y":180,"wires":[["9e70512c.2b896","3afdcd0c.63f592"]]},{"id":"9e70512c.2b896","type":"debug","z":"eee20307.d1317","name":"ArrayInformation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":140,"wires":[]},{"id":"3afdcd0c.63f592","type":"function","z":"eee20307.d1317","name":"CittyNameFunction","func":"msg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":220,"wires":[["3af6a4f8.a8b42c"]]},{"id":"f4aba8a0.5821e8","type":"debug","z":"eee20307.d1317","name":"ArrayMeteo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":380,"wires":[]},{"id":"e7870611.78b5f8","type":"function","z":"eee20307.d1317","name":"Estrazione dati","func":"var name = msg.payload.name;\nvar descr = msg.payload.weather[0].description;\nvar temp = msg.payload.main.temp;\nvar tempMin = msg.payload.main.temp_min;\nvar tempMax = msg.payload.main.temp_max;\nvar humidity = msg.payload.main.humidity;\n\nif(humidity < 33){\n    humidity = \"Low Humidity\";\n}else if(humidity > 66){\n    humidity = \"High Humidity\";\n}else{\n    humidity = \"Medium Humidity\";\n}\n\n//conv kelvin-cels\ntemp = parseInt(temp) - 273;\ntempMin = parseInt(tempMin) - 273;\ntempMax = parseInt(tempMax) - 273;\n\n//conc payload\nmsg.payload = \"-The sky in \" + name + \n                \" is: \\n\" + descr + \"\\n\\n\" + \n                \"-The Temperature is di: \\n\" + \n                temp + \" degrees \\n\"+\n                \"Minimum: \" + \n                tempMin + \" degrees \\n\" +\n                \"Massima: \" +\n                 tempMax+ \" degrees\"+\"\\n\\n\"+\n                 \"-\" + humidity\n                 ;\n               \nreturn msg;\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":560,"y":320,"wires":[["4bc16770.69f058"]]},{"id":"4bc16770.69f058","type":"google-translate","z":"eee20307.d1317","from":"en","name":"dataTranslate","to":"it","x":780,"y":340,"wires":[["c0074ac7.415a08"]]},{"id":"c0074ac7.415a08","type":"chatbot-inline-buttons","z":"eee20307.d1317","name":"","buttons":[{"type":"postback","label":"START","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":780,"y":240,"wires":[["6c73ed5c.b11d04"]]},{"id":"ef09f84f.d997c8","type":"chatbot-telegram-node","z":"","botname":"MeteoMMM_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]