Node-Red/Bot_Telegram/miniBrowserBot.json
[{"id":"df80d724.c4ddd8","type":"tab","label":"miniBrowser","disabled":false,"info":""},{"id":"493164fd.4bb63c","type":"sqlite","z":"df80d724.c4ddd8","mydb":"8304ade7.13165","sqlquery":"msg.topic","sql":"","name":"browserDB","x":1570,"y":120,"wires":[["16c0d8.25209f29"]]},{"id":"ec6025a3.2038f8","type":"comment","z":"df80d724.c4ddd8","name":"MINI BROWSER","info":"","x":560,"y":60,"wires":[]},{"id":"69bf3c36.6d0764","type":"chatbot-telegram-receive","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","x":150,"y":360,"wires":[["7b87bb6.191d744"]]},{"id":"ade3af9.42f485","type":"chatbot-telegram-send","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":370,"y":180,"wires":[["8315538f.6ef3","fd9bd194.24ce6"]]},{"id":"7b726f9b.b99d4","type":"chatbot-message","z":"df80d724.c4ddd8","name":"","message":[{"message":"Digita qui la tua ricerca {{username}} 😃"},{"message":"{{username}} cosa vuoi cercare? 😃"}],"language":"","x":670,"y":100,"wires":[["f54c7308.2e45a"]]},{"id":"7b87bb6.191d744","type":"chatbot-inline-buttons","z":"df80d724.c4ddd8","name":"","buttons":[{"type":"postback","label":"Ricerca","value":"/ricerca","answer":"","alert":false,"style":""},{"type":"postback","label":"Visualizza Cronologia","value":"/cronologia","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Aggiungi ai preferiti","value":"/preferitiAdd","answer":"","alert":false,"style":""},{"type":"postback","label":"Visualizza Preferiti","value":"/preferiti","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Elimina Cronologia","value":"/cronologiaDell","answer":"","alert":false,"style":""},{"type":"postback","label":"Elimina un preferito","value":"/preferitoDell","answer":"","alert":false,"style":""}],"message":"COSA VUOI FARE?","x":160,"y":180,"wires":[["ade3af9.42f485"]]},{"id":"8315538f.6ef3","type":"switch","z":"df80d724.c4ddd8","name":"buttonSelection","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/ricerca","vt":"str"},{"t":"eq","v":"/cronologia","vt":"str"},{"t":"eq","v":"/preferitiAdd","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":600,"y":200,"wires":[["7b726f9b.b99d4"],["20913e28.25db42"],["d3b7dbab.0bb738"]]},{"id":"a56b69c9.010c18","type":"nbrowser","z":"df80d724.c4ddd8","name":"","methods":[{"name":"gotoURL","func":"goto","params":[{"type":"str","value":"https://www.google.it/","typeDefault":"str"}]},{"name":"insert","func":"insert","params":[{"type":"str","value":".gLFyf","typeDefault":"str"},{"type":"msg","value":"payload.content","typeDefault":"str"}]},{"name":"click","func":"click","params":[{"type":"str","value":".FPdoLc > center:nth-child(1) > input:nth-child(2)","typeDefault":"str"}]},{"name":"getURL","func":"url","params":[{"type":"output","value":1,"typeDefault":"output"}]},{"name":"getURL","func":"url","params":[{"type":"output","value":2,"typeDefault":"output"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":false,"show":false,"ssl":false,"outputs":3,"x":1080,"y":140,"wires":[["ec37484d.265e88"],["3b088638.7abe3a"],[]]},{"id":"ec37484d.265e88","type":"chatbot-message","z":"df80d724.c4ddd8","name":"","message":[{"message":"{{payload}}"}],"language":"","x":1310,"y":60,"wires":[["c60df357.5bc75"]]},{"id":"f54c7308.2e45a","type":"chatbot-telegram-send","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":870,"y":120,"wires":[["a56b69c9.010c18"]]},{"id":"dce0c87f.208e88","type":"comment","z":"df80d724.c4ddd8","name":"struttura DB","info":"--cronologia\n\nid INTEGER\nurl TEXT\n\n--preferiti\n\nid INTEGER\nurl TEXT","x":130,"y":60,"wires":[]},{"id":"3b088638.7abe3a","type":"function","z":"df80d724.c4ddd8","name":"insertQueryCronologia","func":"\n\nmsg.topic = \"INSERT INTO cronologia(url) \" +\n            \"VALUES('\" + msg.payload + \"');\"\n\nreturn msg;  \n\n","outputs":1,"noerr":0,"x":1340,"y":120,"wires":[["493164fd.4bb63c"]]},{"id":"16c0d8.25209f29","type":"chatbot-message","z":"df80d724.c4ddd8","name":"","message":[{"message":"⬇️PREMI QUI⬇️\n         /start"}],"language":"","x":1770,"y":120,"wires":[["4c1fa22d.25241c"]]},{"id":"4c1fa22d.25241c","type":"chatbot-telegram-send","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1950,"y":180,"wires":[]},{"id":"d705f5ef.f0b788","type":"debug","z":"df80d724.c4ddd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1510,"y":280,"wires":[]},{"id":"975d8cac.0718d","type":"sqlite","z":"df80d724.c4ddd8","mydb":"8304ade7.13165","sqlquery":"msg.topic","sql":"","name":"browserDB","x":1090,"y":220,"wires":[["2ece1235.60153e"]]},{"id":"cabd0e55.7d60c","type":"inject","z":"df80d724.c4ddd8","name":"","topic":"SELECT * FROM cronologia","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":180,"wires":[["975d8cac.0718d"]]},{"id":"2ece1235.60153e","type":"function","z":"df80d724.c4ddd8","name":"sendArray","func":"var telegramMsg = \"Ecco la tua cronologia \\n\\n\";\n\nfor(var i = 0; i < msg.payload.length; i++){\n    telegramMsg += msg.payload[i].id + \") \" + msg.payload[i].url + \"\\n\"; \n}\n\nmsg.payload = telegramMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":220,"wires":[["dc65b2c0.332f2","d705f5ef.f0b788"]]},{"id":"dc65b2c0.332f2","type":"chatbot-message","z":"df80d724.c4ddd8","name":"","message":[{"message":"{{payload}}\n\n⬇️PREMI QUI⬇️\n         /start"}],"language":"","x":1510,"y":200,"wires":[["7f970395.0caa0c"]]},{"id":"7f970395.0caa0c","type":"chatbot-telegram-send","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1690,"y":240,"wires":[]},{"id":"20913e28.25db42","type":"function","z":"df80d724.c4ddd8","name":"selectQueryCronologia","func":"msg.topic = \"SELECT * FROM cronologia;\"\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":220,"wires":[["975d8cac.0718d"]]},{"id":"d3b7dbab.0bb738","type":"chatbot-message","z":"df80d724.c4ddd8","name":"","message":[{"message":"{{username}} Inserisci l'url che vuoi aggiungere ai preferiti!😃 "}],"language":"","x":630,"y":300,"wires":[["fe4ecee2.5ef3a"]]},{"id":"fe4ecee2.5ef3a","type":"chatbot-telegram-send","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":810,"y":320,"wires":[["86e9b687.c91168"]]},{"id":"4a672d19.e73664","type":"sqlite","z":"df80d724.c4ddd8","mydb":"8304ade7.13165","sqlquery":"msg.topic","sql":"","name":"browserDB","x":1470,"y":360,"wires":[["70500e68.fe68d"]]},{"id":"6a9b7532.fd454c","type":"function","z":"df80d724.c4ddd8","name":"insertQueryPreferiti","func":"var chat = msg.chat();\nvar prefer = chat.get('urlPref');\n\nmsg.topic = \"INSERT INTO preferiti(url) \" +\n            \"VALUES('\" + prefer + \"');\"\n\nreturn msg;  ","outputs":1,"noerr":0,"x":1250,"y":340,"wires":[["4a672d19.e73664"]]},{"id":"70500e68.fe68d","type":"chatbot-message","z":"df80d724.c4ddd8","name":"","message":[{"message":"FATTO!😃\n\n⬇️PREMI QUI⬇️\n         /start"},{"message":"ESEGUITO! 😃\n\n⬇️PREMI QUI⬇️\n         /start"},{"message":"INSERITO NEI  TUOI PREFERITI 😃\n\n⬇️PREMI QUI⬇️\n         /start"}],"language":"","x":1650,"y":340,"wires":[["94a9b00.956c15"]]},{"id":"86e9b687.c91168","type":"chatbot-parse","z":"df80d724.c4ddd8","name":"","parseType":"string","parseVariable":"urlPref","x":1040,"y":340,"wires":[["6a9b7532.fd454c"],[]]},{"id":"94a9b00.956c15","type":"chatbot-telegram-send","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1930,"y":340,"wires":[]},{"id":"91d23b57.7a3c68","type":"comment","z":"df80d724.c4ddd8","name":"PROBLEMI","info":"inserimento dati, nella tabella cronologia, sbagliato","x":330,"y":60,"wires":[]},{"id":"fd9bd194.24ce6","type":"switch","z":"df80d724.c4ddd8","name":"buttonSelection","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/preferiti","vt":"str"},{"t":"eq","v":"/cronologiaDell","vt":"str"},{"t":"eq","v":"/preferitoDell","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":520,"y":400,"wires":[["4b6525fe.414c0c"],["861d4a67.8d4458"],["64b4772.60bf688"]]},{"id":"4b6525fe.414c0c","type":"function","z":"df80d724.c4ddd8","name":"selectQueryPreferiti","func":"msg.topic = \"SELECT * FROM preferiti;\"\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":460,"wires":[["1af131d.1247fce"]]},{"id":"1af131d.1247fce","type":"sqlite","z":"df80d724.c4ddd8","mydb":"8304ade7.13165","sqlquery":"msg.topic","sql":"","name":"browserDB","x":1070,"y":420,"wires":[["24fe0ba4.3b1784"]]},{"id":"24fe0ba4.3b1784","type":"function","z":"df80d724.c4ddd8","name":"sendArray","func":"var telegramMsg = \"Ecco i tuoi preferiti \\n\\n\";\n\nfor(var i = 0; i < msg.payload.length; i++){\n    telegramMsg += msg.payload[i].id + \") \" + msg.payload[i].url + \"\\n\"; \n}\n\nmsg.payload = telegramMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":440,"wires":[["eb69fd9c.8685","221423c8.0bd70c"]]},{"id":"eb69fd9c.8685","type":"chatbot-message","z":"df80d724.c4ddd8","name":"","message":[{"message":"{{payload}}\n\n⬇️PREMI QUI⬇️\n         /start"}],"language":"","x":1450,"y":480,"wires":[["9444a0b8.121e5"]]},{"id":"9444a0b8.121e5","type":"chatbot-telegram-send","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1690,"y":460,"wires":[]},{"id":"79786c9d.68b214","type":"inject","z":"df80d724.c4ddd8","name":"","topic":"SELECT * FROM preferiti;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":400,"wires":[["1af131d.1247fce"]]},{"id":"221423c8.0bd70c","type":"debug","z":"df80d724.c4ddd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1470,"y":400,"wires":[]},{"id":"f661dc13.77777","type":"function","z":"df80d724.c4ddd8","name":"deleteQuery","func":"idCrn = parseInt(msg.payload.content);\n\nmsg.topic = \"DELETE FROM cronologia \" +\n            \"WHERE id = \" + idCrn + \";\" \nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":640,"wires":[["d28a25a8.391b18"]]},{"id":"861d4a67.8d4458","type":"chatbot-inline-buttons","z":"df80d724.c4ddd8","name":"","buttons":[{"type":"postback","label":"Elimina tutto","value":"/allCronos","answer":"","alert":false,"style":""},{"type":"postback","label":"Elimina un elemento","value":"/oneElement","answer":"","alert":false,"style":""}],"message":"Come vuoi eseguire la tua eliminazione?","x":760,"y":520,"wires":[["9c75a9c4.23df58"]]},{"id":"9c75a9c4.23df58","type":"chatbot-telegram-send","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":970,"y":540,"wires":[["2f73286b.31acf8","f2c22775.365b38"]]},{"id":"2f73286b.31acf8","type":"switch","z":"df80d724.c4ddd8","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/allCronos","vt":"str"},{"t":"eq","v":"/oneElement","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":560,"wires":[["dd6b2161.87652"],["1078a2d9.9935bd"]]},{"id":"dd6b2161.87652","type":"function","z":"df80d724.c4ddd8","name":"deleteQuery","func":"msg.topic = \"DELETE FROM cronologia; \" \n            \nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":560,"wires":[["3d5d0ca6.182244"]]},{"id":"3d5d0ca6.182244","type":"sqlite","z":"df80d724.c4ddd8","mydb":"8304ade7.13165","sqlquery":"msg.topic","sql":"","name":"browserDB","x":1550,"y":560,"wires":[["4694b87d.32d438"]]},{"id":"4694b87d.32d438","type":"chatbot-message","z":"df80d724.c4ddd8","name":"","message":[{"message":"🗑️CRONOLOGIA ELIMINATA🗑️\n\n⬇️PREMI QUI⬇️\n         /start"}],"language":"","x":1710,"y":560,"wires":[["6e993fa4.a3496"]]},{"id":"6e993fa4.a3496","type":"chatbot-telegram-send","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1930,"y":560,"wires":[]},{"id":"281878e0.f1da98","type":"chatbot-telegram-send","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":1470,"y":640,"wires":[["f661dc13.77777"]]},{"id":"1078a2d9.9935bd","type":"chatbot-message","z":"df80d724.c4ddd8","name":"","message":[{"message":"Digita il numero relativo all'elemento che vuoi eliminare!  😊 "}],"language":"","x":1290,"y":620,"wires":[["281878e0.f1da98"]]},{"id":"f2c22775.365b38","type":"debug","z":"df80d724.c4ddd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":520,"wires":[]},{"id":"d28a25a8.391b18","type":"sqlite","z":"df80d724.c4ddd8","mydb":"8304ade7.13165","sqlquery":"msg.topic","sql":"","name":"browserDB","x":1870,"y":640,"wires":[["905095f2.443128"]]},{"id":"905095f2.443128","type":"chatbot-message","z":"df80d724.c4ddd8","name":"","message":[{"message":"🗑️ELEMENTO ELIMINATO🗑️\n\n⬇️PREMI QUI⬇️\n         /start"}],"language":"","x":2010,"y":640,"wires":[["617d6d3f.d8cac4"]]},{"id":"617d6d3f.d8cac4","type":"chatbot-telegram-send","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":2210,"y":640,"wires":[]},{"id":"64b4772.60bf688","type":"chatbot-inline-buttons","z":"df80d724.c4ddd8","name":"","buttons":[{"type":"postback","label":"Elimina tutto","value":"/allPrefer","answer":"","alert":false,"style":""},{"type":"postback","label":"Elimina un elemento","value":"/onePrefer","answer":"","alert":false,"style":""}],"message":"Come vuoi eseguire la tua eliminazione?","x":740,"y":600,"wires":[["ff5d390.cef62c8"]]},{"id":"ff5d390.cef62c8","type":"chatbot-telegram-send","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":944,"y":640,"wires":[["20c3d15e.64c22e"]]},{"id":"20c3d15e.64c22e","type":"switch","z":"df80d724.c4ddd8","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/allPrefer","vt":"str"},{"t":"eq","v":"/onePrefer","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":740,"wires":[["6ce8d94e.884658"],["498165ac.a1017c"]]},{"id":"e9c3b2a7.67be5","type":"chatbot-telegram-send","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1950,"y":720,"wires":[]},{"id":"758cd380.f7063c","type":"chatbot-message","z":"df80d724.c4ddd8","name":"","message":[{"message":"🗑️PREFERITI ELIMINATI🗑️\n\n⬇️PREMI QUI⬇️\n         /start"}],"language":"","x":1730,"y":720,"wires":[["e9c3b2a7.67be5"]]},{"id":"55932323.77b4cc","type":"sqlite","z":"df80d724.c4ddd8","mydb":"8304ade7.13165","sqlquery":"msg.topic","sql":"","name":"browserDB","x":1572,"y":725.3333129882812,"wires":[["758cd380.f7063c"]]},{"id":"6ce8d94e.884658","type":"function","z":"df80d724.c4ddd8","name":"deleteQuery","func":"msg.topic = \"DELETE FROM preferiti; \" \n            \nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":720,"wires":[["55932323.77b4cc"]]},{"id":"498165ac.a1017c","type":"chatbot-message","z":"df80d724.c4ddd8","name":"","message":[{"message":"Digita il numero relativo all'elemento che vuoi eliminare!  😊 "}],"language":"","x":1330,"y":800,"wires":[["17e840c0.e401ef"]]},{"id":"17e840c0.e401ef","type":"chatbot-telegram-send","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":1510,"y":800,"wires":[["dd8a3f07.e8e"]]},{"id":"dd8a3f07.e8e","type":"function","z":"df80d724.c4ddd8","name":"deleteQuery","func":"idPrf = parseInt(msg.payload.content);\n\nmsg.topic = \"DELETE FROM preferiti \" +\n            \"WHERE id = \" + idPrf + \";\" \nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":800,"wires":[["b06632f4.57ea6"]]},{"id":"b06632f4.57ea6","type":"sqlite","z":"df80d724.c4ddd8","mydb":"8304ade7.13165","sqlquery":"msg.topic","sql":"","name":"browserDB","x":1890,"y":780,"wires":[["5b74ea6d.d62d94"]]},{"id":"5b74ea6d.d62d94","type":"chatbot-message","z":"df80d724.c4ddd8","name":"","message":[{"message":"🗑️ELEMENTO PREFERITI ELIMINATO🗑️\n\n⬇️PREMI QUI⬇️\n         /start"}],"language":"","x":2050,"y":780,"wires":[["9f8108e9.87cac8"]]},{"id":"9f8108e9.87cac8","type":"chatbot-telegram-send","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":2230,"y":780,"wires":[]},{"id":"c60df357.5bc75","type":"chatbot-telegram-send","z":"df80d724.c4ddd8","bot":"73152e7c.7cb82","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1510,"y":60,"wires":[]},{"id":"8304ade7.13165","type":"sqlitedb","z":"","db":"C:\\Users\\MMorr\\Desktop\\iot\\brDB\\browserDB.db","mode":"RWC"},{"id":"73152e7c.7cb82","type":"chatbot-telegram-node","z":"","botname":"BrowserMM_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]