Node-Red/Bot_Telegram/ordinazioneCiboBot.json
[{"id":"1e0ceed6.07e4f1","type":"tab","label":"Ordinazione cibo bot","disabled":true,"info":""},{"id":"7f3ec59c.1de0bc","type":"chatbot-telegram-receive","z":"1e0ceed6.07e4f1","bot":"6c6a0a13.d75404","botProduction":"","x":110,"y":300,"wires":[["399c32b5.3e5b9e"]]},{"id":"273d2847.878a88","type":"chatbot-telegram-send","z":"1e0ceed6.07e4f1","bot":"6c6a0a13.d75404","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":350,"y":240,"wires":[["e47f6dde.1d95b"]]},{"id":"7cc6e215.0555fc","type":"chatbot-inline-buttons","z":"1e0ceed6.07e4f1","name":"Pizza o Panino","buttons":[{"type":"postback","label":"PIZZA","value":"0","answer":"","alert":false,"style":""},{"type":"postback","label":"PANINO","value":"1","answer":"","alert":false,"style":""}],"message":"Benvenuto, seleziona qui sotto cosa vuoi ordinare","x":140,"y":220,"wires":[["273d2847.878a88","5bdbd486.475a1c","c074fc4.38f0a","99712bd.8dad0d8"]]},{"id":"399c32b5.3e5b9e","type":"chatbot-rules","z":"1e0ceed6.07e4f1","name":"","rules":[{"type":"command","command":"/start"}],"outputs":1,"x":130,"y":260,"wires":[["7cc6e215.0555fc"]]},{"id":"5bdbd486.475a1c","type":"debug","z":"1e0ceed6.07e4f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":80,"wires":[]},{"id":"c074fc4.38f0a","type":"debug","z":"1e0ceed6.07e4f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":120,"wires":[]},{"id":"99712bd.8dad0d8","type":"debug","z":"1e0ceed6.07e4f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"originalMessage.text","targetType":"msg","x":390,"y":40,"wires":[]},{"id":"e47f6dde.1d95b","type":"switch","z":"1e0ceed6.07e4f1","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":240,"wires":[["68fa65a0.6addfc"],["7d4d0f8e.895f8"]]},{"id":"68fa65a0.6addfc","type":"chatbot-inline-buttons","z":"1e0ceed6.07e4f1","name":"","buttons":[{"type":"postback","label":"MARINARA","value":"0","answer":"","alert":false,"style":""},{"type":"postback","label":"MARGHERITA","value":"1","answer":"","alert":false,"style":""},{"type":"postback","label":"CAPRICCIOSA","value":"2","answer":"","alert":false,"style":""}],"message":"Che Pizza vuoi?","x":520,"y":180,"wires":[["42aacce6.7d5af4"]]},{"id":"7d4d0f8e.895f8","type":"chatbot-inline-buttons","z":"1e0ceed6.07e4f1","name":"","buttons":[],"message":"","x":520,"y":300,"wires":[[]]},{"id":"42aacce6.7d5af4","type":"chatbot-telegram-send","z":"1e0ceed6.07e4f1","bot":"6c6a0a13.d75404","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":570,"y":120,"wires":[]},{"id":"6c6a0a13.d75404","type":"chatbot-telegram-node","z":"","botname":"OrdinaCiboMorritti_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]