Node-Red/Bot_Telegram/oroscopoBot.json
[{"id":"dbcc9e07.e0f69","type":"tab","label":"Oroscopo","disabled":false,"info":""},{"id":"77fc5221.4c6b3c","type":"chatbot-telegram-receive","z":"dbcc9e07.e0f69","bot":"915f9afb.0c86b8","botProduction":"","x":90,"y":540,"wires":[["46ac4247.05a9fc"]]},{"id":"46ac4247.05a9fc","type":"chatbot-inline-buttons","z":"dbcc9e07.e0f69","name":"","buttons":[{"type":"postback","label":"♈ ARIETE","value":"ariete.html","answer":"","alert":false,"style":""},{"type":"postback","label":"♉ TORO","value":"toro.html","answer":"","alert":false,"style":""},{"type":"postback","label":"♊ GEMELLI","value":"gemelli.html","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"♋ CANCRO","value":"cancro.html","answer":"","alert":false,"style":""},{"type":"postback","label":"♌ LEONE","value":"leone.html","answer":"","alert":false,"style":""},{"type":"postback","label":"♍ VERGINE","value":"vergine.html","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"♎ BILANCIA","value":"bilancia.html","answer":"","alert":false,"style":""},{"type":"postback","label":"♏ SCORPIONE","value":"scorpione.html","answer":"","alert":false,"style":""},{"type":"postback","label":"♐ SAGITTARIO","value":"sagittario.html","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"♑ CAPRICORNO","value":"capricorno.html","answer":"","alert":false,"style":""},{"type":"postback","label":"♒ ACQUARIO","value":"acquario.html","answer":"","alert":false,"style":""},{"type":"postback","label":"♓ PESCI","value":"pesci.html","answer":"","alert":false,"style":""}],"message":"Ciao {{username}}\nSeleziona il tuo segno","x":320,"y":520,"wires":[["9f0f9446.19f778"]]},{"id":"9f0f9446.19f778","type":"chatbot-telegram-send","z":"dbcc9e07.e0f69","bot":"915f9afb.0c86b8","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":210,"y":420,"wires":[["a1b4cb24.bac008","4fafb5f5.12c09c"]]},{"id":"a1b4cb24.bac008","type":"switch","z":"dbcc9e07.e0f69","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"ariete.html","vt":"str"},{"t":"eq","v":"toro.html","vt":"str"},{"t":"eq","v":"gemelli.html","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":260,"wires":[["71ac6659.539d08"],["1fa968b3.b70877"],["cb62bd19.33844"]]},{"id":"71ac6659.539d08","type":"http request","z":"dbcc9e07.e0f69","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://oroscopo.grazia.it/oroscopo-del-giorno/{{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":160,"wires":[["bf377f94.fc5b3"]]},{"id":"bf377f94.fc5b3","type":"split","z":"dbcc9e07.e0f69","name":"","splt":".grzhor-main-article","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":120,"wires":[["53eed73b.976448"]]},{"id":"53eed73b.976448","type":"html","z":"dbcc9e07.e0f69","name":"Scrapping","property":"payload","outproperty":"payload","tag":".oroscopo_text, h1.GTsectra","ret":"text","as":"single","x":860,"y":140,"wires":[["7e18cda0.2a3e94"]]},{"id":"7e18cda0.2a3e94","type":"function","z":"dbcc9e07.e0f69","name":"dataExtraction","func":"var list = \"\";\n\nfor(var i = 0; i < msg.payload.length; i++){\n    list += \"\\n\\n\" + msg.payload[i];\n}\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":120,"wires":[["5f68c0d8.859ee"]]},{"id":"f01c976f.e48568","type":"chatbot-telegram-send","z":"dbcc9e07.e0f69","bot":"915f9afb.0c86b8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1470,"y":40,"wires":[]},{"id":"5f68c0d8.859ee","type":"chatbot-inline-buttons","z":"dbcc9e07.e0f69","name":"","buttons":[{"type":"postback","label":"RESTART","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1280,"y":100,"wires":[["f01c976f.e48568"]]},{"id":"1fa968b3.b70877","type":"http request","z":"dbcc9e07.e0f69","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://oroscopo.grazia.it/oroscopo-del-giorno/{{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":220,"wires":[["d24370fd.d5104"]]},{"id":"d24370fd.d5104","type":"split","z":"dbcc9e07.e0f69","name":"","splt":".grzhor-main-article","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":220,"wires":[["ca9c020f.225d"]]},{"id":"ca9c020f.225d","type":"html","z":"dbcc9e07.e0f69","name":"Scrapping","property":"payload","outproperty":"payload","tag":".oroscopo_text, h1.GTsectra","ret":"text","as":"single","x":1040,"y":220,"wires":[["ac24025.2fbad"]]},{"id":"ac24025.2fbad","type":"function","z":"dbcc9e07.e0f69","name":"dataExtraction","func":"var list = \"\";\n\nfor(var i = 0; i < msg.payload.length; i++){\n    list += \"\\n\\n\" + msg.payload[i];\n}\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":200,"wires":[["2a6969d5.442e36"]]},{"id":"2a6969d5.442e36","type":"chatbot-inline-buttons","z":"dbcc9e07.e0f69","name":"","buttons":[{"type":"postback","label":"RESTART","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1480,"y":120,"wires":[["2cb00a19.09b756"]]},{"id":"2cb00a19.09b756","type":"chatbot-telegram-send","z":"dbcc9e07.e0f69","bot":"915f9afb.0c86b8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1750,"y":80,"wires":[]},{"id":"cb62bd19.33844","type":"http request","z":"dbcc9e07.e0f69","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://oroscopo.grazia.it/oroscopo-del-giorno/{{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":300,"wires":[["d746047f.a81308"]]},{"id":"d746047f.a81308","type":"split","z":"dbcc9e07.e0f69","name":"","splt":".grzhor-main-article","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":300,"wires":[["7ecab8c6.5d5448"]]},{"id":"7ecab8c6.5d5448","type":"html","z":"dbcc9e07.e0f69","name":"Scrapping","property":"payload","outproperty":"payload","tag":".oroscopo_text, h1.GTsectra","ret":"text","as":"single","x":1020,"y":280,"wires":[["fddbc4a8.b07dc8"]]},{"id":"fddbc4a8.b07dc8","type":"function","z":"dbcc9e07.e0f69","name":"dataExtraction","func":"var list = \"\";\n\nfor(var i = 0; i < msg.payload.length; i++){\n    list += \"\\n\\n\" + msg.payload[i];\n}\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":300,"wires":[["d09390a7.34c76"]]},{"id":"d09390a7.34c76","type":"chatbot-inline-buttons","z":"dbcc9e07.e0f69","name":"","buttons":[{"type":"postback","label":"RESTART","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1400,"y":220,"wires":[["461016d7.6a9878"]]},{"id":"461016d7.6a9878","type":"chatbot-telegram-send","z":"dbcc9e07.e0f69","bot":"915f9afb.0c86b8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1690,"y":200,"wires":[]},{"id":"7ee3e4ad.f50d7c","type":"chatbot-telegram-send","z":"dbcc9e07.e0f69","bot":"915f9afb.0c86b8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1610,"y":520,"wires":[]},{"id":"4fafb5f5.12c09c","type":"switch","z":"dbcc9e07.e0f69","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"cancro.html","vt":"str"},{"t":"eq","v":"leone.html","vt":"str"},{"t":"eq","v":"vergine.html","vt":"str"},{"t":"eq","v":"bilancia.html","vt":"str"},{"t":"eq","v":"scorpione.html","vt":"str"},{"t":"eq","v":"sagittario.html","vt":"str"},{"t":"eq","v":"capricorno.html","vt":"str"},{"t":"eq","v":"acquario.html","vt":"str"},{"t":"eq","v":"pesci.html","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":510,"y":420,"wires":[["4fa884fe.79f19c"],["3c4c86f2.d91c8a"],["18907540.1021ab"],["4f87ca15.cf11d4"],["c2784c0d.a1c95"],["8183b9e7.c4fae8"],["2def8608.4717da"],["7593d4c0.ce2e4c"],["4c7a149e.8076fc"]]},{"id":"4fa884fe.79f19c","type":"http request","z":"dbcc9e07.e0f69","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://oroscopo.grazia.it/oroscopo-del-giorno/{{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":380,"wires":[["6509d2ca.b8bdcc"]]},{"id":"6509d2ca.b8bdcc","type":"split","z":"dbcc9e07.e0f69","name":"","splt":".grzhor-main-article","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":950,"y":380,"wires":[["1e804869.2395d8"]]},{"id":"1e804869.2395d8","type":"html","z":"dbcc9e07.e0f69","name":"Scrapping","property":"payload","outproperty":"payload","tag":".oroscopo_text, h1.GTsectra","ret":"text","as":"single","x":1120,"y":360,"wires":[["acd5ee3.7f25a1"]]},{"id":"acd5ee3.7f25a1","type":"function","z":"dbcc9e07.e0f69","name":"dataExtraction","func":"var list = \"\";\n\nfor(var i = 0; i < msg.payload.length; i++){\n    list += \"\\n\\n\" + msg.payload[i];\n}\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":380,"wires":[["392a6e5b.95bb72"]]},{"id":"392a6e5b.95bb72","type":"chatbot-inline-buttons","z":"dbcc9e07.e0f69","name":"","buttons":[{"type":"postback","label":"RESTART","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1440,"y":320,"wires":[["7c6c7e9f.9a433"]]},{"id":"7c6c7e9f.9a433","type":"chatbot-telegram-send","z":"dbcc9e07.e0f69","bot":"915f9afb.0c86b8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1630,"y":320,"wires":[]},{"id":"3c4c86f2.d91c8a","type":"http request","z":"dbcc9e07.e0f69","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://oroscopo.grazia.it/oroscopo-del-giorno/{{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":480,"wires":[["f1047762.5859a8"]]},{"id":"f1047762.5859a8","type":"split","z":"dbcc9e07.e0f69","name":"","splt":".grzhor-main-article","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":890,"y":440,"wires":[["f86fc06a.563f"]]},{"id":"f86fc06a.563f","type":"html","z":"dbcc9e07.e0f69","name":"Scrapping","property":"payload","outproperty":"payload","tag":".oroscopo_text, h1.GTsectra","ret":"text","as":"single","x":1000,"y":500,"wires":[["8f83530e.423dc"]]},{"id":"8f83530e.423dc","type":"function","z":"dbcc9e07.e0f69","name":"dataExtraction","func":"var list = \"\";\n\nfor(var i = 0; i < msg.payload.length; i++){\n    list += \"\\n\\n\" + msg.payload[i];\n}\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":480,"wires":[["ad5e19b5.b803e8"]]},{"id":"ad5e19b5.b803e8","type":"chatbot-inline-buttons","z":"dbcc9e07.e0f69","name":"","buttons":[{"type":"postback","label":"RESTART","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1340,"y":500,"wires":[["2a5a7611.e4015a"]]},{"id":"2a5a7611.e4015a","type":"chatbot-telegram-send","z":"dbcc9e07.e0f69","bot":"915f9afb.0c86b8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1510,"y":420,"wires":[]},{"id":"18907540.1021ab","type":"http request","z":"dbcc9e07.e0f69","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://oroscopo.grazia.it/oroscopo-del-giorno/{{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":580,"wires":[["9984f357.044d4"]]},{"id":"9984f357.044d4","type":"split","z":"dbcc9e07.e0f69","name":"","splt":".grzhor-main-article","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":910,"y":580,"wires":[["6469d9cb.95d438"]]},{"id":"6469d9cb.95d438","type":"html","z":"dbcc9e07.e0f69","name":"Scrapping","property":"payload","outproperty":"payload","tag":".oroscopo_text, h1.GTsectra","ret":"text","as":"single","x":1060,"y":560,"wires":[["2832c5ac.96f0ea"]]},{"id":"2832c5ac.96f0ea","type":"function","z":"dbcc9e07.e0f69","name":"dataExtraction","func":"var list = \"\";\n\nfor(var i = 0; i < msg.payload.length; i++){\n    list += \"\\n\\n\" + msg.payload[i];\n}\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":560,"wires":[["8489bd92.2085e"]]},{"id":"8489bd92.2085e","type":"chatbot-inline-buttons","z":"dbcc9e07.e0f69","name":"","buttons":[{"type":"postback","label":"RESTART","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1420,"y":560,"wires":[["7ee3e4ad.f50d7c"]]},{"id":"5c0ebca9.fcb2d4","type":"chatbot-telegram-send","z":"dbcc9e07.e0f69","bot":"915f9afb.0c86b8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1670,"y":800,"wires":[]},{"id":"4f87ca15.cf11d4","type":"http request","z":"dbcc9e07.e0f69","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://oroscopo.grazia.it/oroscopo-del-giorno/{{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":660,"wires":[["6313b86b.c16fc8"]]},{"id":"6313b86b.c16fc8","type":"split","z":"dbcc9e07.e0f69","name":"","splt":".grzhor-main-article","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1010,"y":660,"wires":[["ac6dd502.46f478"]]},{"id":"ac6dd502.46f478","type":"html","z":"dbcc9e07.e0f69","name":"Scrapping","property":"payload","outproperty":"payload","tag":".oroscopo_text, h1.GTsectra","ret":"text","as":"single","x":1180,"y":640,"wires":[["4df17f05.d0fa7"]]},{"id":"4df17f05.d0fa7","type":"function","z":"dbcc9e07.e0f69","name":"dataExtraction","func":"var list = \"\";\n\nfor(var i = 0; i < msg.payload.length; i++){\n    list += \"\\n\\n\" + msg.payload[i];\n}\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":660,"wires":[["29d04791.6f6a48"]]},{"id":"29d04791.6f6a48","type":"chatbot-inline-buttons","z":"dbcc9e07.e0f69","name":"","buttons":[{"type":"postback","label":"RESTART","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1500,"y":600,"wires":[["ed1a4912.896ce8"]]},{"id":"ed1a4912.896ce8","type":"chatbot-telegram-send","z":"dbcc9e07.e0f69","bot":"915f9afb.0c86b8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1690,"y":600,"wires":[]},{"id":"c2784c0d.a1c95","type":"http request","z":"dbcc9e07.e0f69","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://oroscopo.grazia.it/oroscopo-del-giorno/{{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":760,"wires":[["d6385ff2.de627"]]},{"id":"d6385ff2.de627","type":"split","z":"dbcc9e07.e0f69","name":"","splt":".grzhor-main-article","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":950,"y":720,"wires":[["8ae0453d.b5d958"]]},{"id":"8ae0453d.b5d958","type":"html","z":"dbcc9e07.e0f69","name":"Scrapping","property":"payload","outproperty":"payload","tag":".oroscopo_text, h1.GTsectra","ret":"text","as":"single","x":1060,"y":780,"wires":[["b8f88dc8.887a"]]},{"id":"b8f88dc8.887a","type":"function","z":"dbcc9e07.e0f69","name":"dataExtraction","func":"var list = \"\";\n\nfor(var i = 0; i < msg.payload.length; i++){\n    list += \"\\n\\n\" + msg.payload[i];\n}\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":760,"wires":[["20d5d026.792e1"]]},{"id":"20d5d026.792e1","type":"chatbot-inline-buttons","z":"dbcc9e07.e0f69","name":"","buttons":[{"type":"postback","label":"RESTART","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1400,"y":780,"wires":[["52f56f96.5e075"]]},{"id":"52f56f96.5e075","type":"chatbot-telegram-send","z":"dbcc9e07.e0f69","bot":"915f9afb.0c86b8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1570,"y":700,"wires":[]},{"id":"8183b9e7.c4fae8","type":"http request","z":"dbcc9e07.e0f69","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://oroscopo.grazia.it/oroscopo-del-giorno/{{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":860,"wires":[["1a777392.e9217c"]]},{"id":"1a777392.e9217c","type":"split","z":"dbcc9e07.e0f69","name":"","splt":".grzhor-main-article","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":970,"y":860,"wires":[["c14af8b5.bbb378"]]},{"id":"c14af8b5.bbb378","type":"html","z":"dbcc9e07.e0f69","name":"Scrapping","property":"payload","outproperty":"payload","tag":".oroscopo_text, h1.GTsectra","ret":"text","as":"single","x":1120,"y":840,"wires":[["8cc068b0.6e5bd8"]]},{"id":"8cc068b0.6e5bd8","type":"function","z":"dbcc9e07.e0f69","name":"dataExtraction","func":"var list = \"\";\n\nfor(var i = 0; i < msg.payload.length; i++){\n    list += \"\\n\\n\" + msg.payload[i];\n}\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":840,"wires":[["a9f2f5c9.469368"]]},{"id":"a9f2f5c9.469368","type":"chatbot-inline-buttons","z":"dbcc9e07.e0f69","name":"","buttons":[{"type":"postback","label":"RESTART","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1480,"y":840,"wires":[["5c0ebca9.fcb2d4"]]},{"id":"2def8608.4717da","type":"http request","z":"dbcc9e07.e0f69","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://oroscopo.grazia.it/oroscopo-del-giorno/{{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":1000,"wires":[["9aa28f.1b84ad7"]]},{"id":"9aa28f.1b84ad7","type":"split","z":"dbcc9e07.e0f69","name":"","splt":".grzhor-main-article","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":1000,"wires":[["69cca68a.095cc8"]]},{"id":"69cca68a.095cc8","type":"html","z":"dbcc9e07.e0f69","name":"Scrapping","property":"payload","outproperty":"payload","tag":".oroscopo_text, h1.GTsectra","ret":"text","as":"single","x":1000,"y":980,"wires":[["12fc52f8.41c82d"]]},{"id":"12fc52f8.41c82d","type":"function","z":"dbcc9e07.e0f69","name":"dataExtraction","func":"var list = \"\";\n\nfor(var i = 0; i < msg.payload.length; i++){\n    list += \"\\n\\n\" + msg.payload[i];\n}\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":980,"wires":[["87400df9.5a482"]]},{"id":"87400df9.5a482","type":"chatbot-inline-buttons","z":"dbcc9e07.e0f69","name":"","buttons":[{"type":"postback","label":"RESTART","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1360,"y":980,"wires":[["92558e10.40e26"]]},{"id":"92558e10.40e26","type":"chatbot-telegram-send","z":"dbcc9e07.e0f69","bot":"915f9afb.0c86b8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1550,"y":940,"wires":[]},{"id":"7593d4c0.ce2e4c","type":"http request","z":"dbcc9e07.e0f69","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://oroscopo.grazia.it/oroscopo-del-giorno/{{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":1120,"wires":[["31ba0f88.6a6c7"]]},{"id":"31ba0f88.6a6c7","type":"split","z":"dbcc9e07.e0f69","name":"","splt":".grzhor-main-article","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":1120,"wires":[["d1ac9d2b.391c4"]]},{"id":"d1ac9d2b.391c4","type":"html","z":"dbcc9e07.e0f69","name":"Scrapping","property":"payload","outproperty":"payload","tag":".oroscopo_text, h1.GTsectra","ret":"text","as":"single","x":1000,"y":1100,"wires":[["927b22e5.4905c"]]},{"id":"927b22e5.4905c","type":"function","z":"dbcc9e07.e0f69","name":"dataExtraction","func":"var list = \"\";\n\nfor(var i = 0; i < msg.payload.length; i++){\n    list += \"\\n\\n\" + msg.payload[i];\n}\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":1100,"wires":[["7c425e7f.af3e9"]]},{"id":"7c425e7f.af3e9","type":"chatbot-inline-buttons","z":"dbcc9e07.e0f69","name":"","buttons":[{"type":"postback","label":"RESTART","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1360,"y":1100,"wires":[["da15bc03.5083c"]]},{"id":"da15bc03.5083c","type":"chatbot-telegram-send","z":"dbcc9e07.e0f69","bot":"915f9afb.0c86b8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1550,"y":1060,"wires":[]},{"id":"4c7a149e.8076fc","type":"http request","z":"dbcc9e07.e0f69","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://oroscopo.grazia.it/oroscopo-del-giorno/{{payload.content}}","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":920,"wires":[["e13718eb.a7f7c8"]]},{"id":"e13718eb.a7f7c8","type":"split","z":"dbcc9e07.e0f69","name":"","splt":".grzhor-main-article","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":930,"y":920,"wires":[["be3dac27.23afe"]]},{"id":"be3dac27.23afe","type":"html","z":"dbcc9e07.e0f69","name":"Scrapping","property":"payload","outproperty":"payload","tag":".oroscopo_text, h1.GTsectra","ret":"text","as":"single","x":1080,"y":900,"wires":[["45bd6b7.9e3fc94"]]},{"id":"45bd6b7.9e3fc94","type":"function","z":"dbcc9e07.e0f69","name":"dataExtraction","func":"var list = \"\";\n\nfor(var i = 0; i < msg.payload.length; i++){\n    list += \"\\n\\n\" + msg.payload[i];\n}\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":900,"wires":[["c7434efa.838f6"]]},{"id":"c7434efa.838f6","type":"chatbot-inline-buttons","z":"dbcc9e07.e0f69","name":"","buttons":[{"type":"postback","label":"RESTART","value":"0","answer":"","alert":false,"style":""}],"message":"{{payload}}","x":1440,"y":900,"wires":[["b81008f6.59d1f8"]]},{"id":"b81008f6.59d1f8","type":"chatbot-telegram-send","z":"dbcc9e07.e0f69","bot":"915f9afb.0c86b8","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1710,"y":900,"wires":[]},{"id":"915f9afb.0c86b8","type":"chatbot-telegram-node","z":"","botname":"OroscopoMMM_Bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]