Node-Red/Bot_Telegram/rimarioBot(notComplete).json
[{"id":"699b2107.88ae3","type":"tab","label":"Rimario","disabled":false,"info":""},{"id":"c378e7e2.7882b8","type":"chatbot-telegram-receive","z":"699b2107.88ae3","bot":"840c1ca1.2b028","botProduction":"","x":170,"y":160,"wires":[[]]},{"id":"a6a3b7bd.9716d8","type":"chatbot-telegram-send","z":"699b2107.88ae3","bot":"840c1ca1.2b028","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":650,"y":120,"wires":[]},{"id":"c119f65a.24d0b8","type":"inject","z":"699b2107.88ae3","name":"","topic":"","payload":"king","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["f8f560c2.6ea99"]]},{"id":"f8f560c2.6ea99","type":"http request","z":"699b2107.88ae3","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://sapere.virgilio.it/parole/rimario/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":400,"wires":[["64498c54.78dcb4"]]},{"id":"71c34890.edc238","type":"debug","z":"699b2107.88ae3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":220,"wires":[]},{"id":"18df7540.638f5b","type":"html","z":"699b2107.88ae3","name":"Scrap","property":"payload","outproperty":"payload","tag":"html body div.container div.wrapper-content div.col.col--main section.sct.sct--ouverture.sct--rim div.sct-descr div.sct-list ul li.sct-list-item","ret":"text","as":"single","x":530,"y":240,"wires":[["a2cb3245.80fc3","71c34890.edc238"]]},{"id":"a2cb3245.80fc3","type":"function","z":"699b2107.88ae3","name":"dataRead","func":"var list = \"\";\n\nfor(var i = 0; i < msg.payload.length; i++){\n    list += msg.payload[i] + \"\\n\";\n    \n}\n\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":400,"wires":[["71c34890.edc238"]]},{"id":"64498c54.78dcb4","type":"split","z":"699b2107.88ae3","name":"","splt":"section.sct:nth-child(2)","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":350,"y":340,"wires":[["18df7540.638f5b"]]},{"id":"840c1ca1.2b028","type":"chatbot-telegram-node","z":"","botname":"RimeMMM_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]