Node-Red/Bot_Telegram/wikipediaBot.json
[{"id":"8fccad11.dad47","type":"tab","label":"Wikipedia Search","disabled":true,"info":""},{"id":"463ffa30.d2f354","type":"inject","z":"8fccad11.dad47","name":"","topic":"","payload":"Milano","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":360,"wires":[["83da3f2e.2408d"]]},{"id":"83da3f2e.2408d","type":"nbrowser","z":"8fccad11.dad47","name":"Wikipedia Search","methods":[{"name":"gotoURL","func":"goto","params":[{"type":"str","value":"https://www.wikipedia.org/","typeDefault":"str"}]},{"name":"viewport","func":"viewport","params":[{"type":"num","value":"1000","typeDefault":"num"},{"type":"num","value":"1000","typeDefault":"num"}]},{"name":"insert","func":"insert","params":[{"type":"str","value":"#searchInput","typeDefault":"str"},{"type":"msg","value":"payload.content","typeDefault":"str"}]},{"name":"click","func":"click","params":[{"type":"str","value":".pure-button","typeDefault":"str"}]},{"name":"getURL","func":"url","params":[{"type":"output","value":1,"typeDefault":"output"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":false,"show":false,"ssl":false,"outputs":2,"x":390,"y":280,"wires":[["15a405c1.5b23aa"],[]]},{"id":"c88969a9.74f188","type":"chatbot-telegram-receive","z":"8fccad11.dad47","bot":"e72dedfa.04704","botProduction":"","x":110,"y":280,"wires":[["710ecd72.e09584"]]},{"id":"710ecd72.e09584","type":"chatbot-message","z":"8fccad11.dad47","name":"","message":[{"message":"Cosa vuoi cercare su Wikipedia?"},{"message":"Cosa ti interessa sapere?"},{"message":"Digita qui la tua ricerca"}],"language":"","x":170,"y":160,"wires":[["34e8a2d2.2c2fae"]]},{"id":"34e8a2d2.2c2fae","type":"chatbot-telegram-send","z":"8fccad11.dad47","bot":"e72dedfa.04704","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":370,"y":120,"wires":[["83da3f2e.2408d"]]},{"id":"9a9d3f5e.fabe7","type":"chatbot-telegram-send","z":"8fccad11.dad47","bot":"e72dedfa.04704","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":650,"y":200,"wires":[["710ecd72.e09584"]]},{"id":"c59a40c8.833ae","type":"debug","z":"8fccad11.dad47","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":140,"wires":[]},{"id":"15a405c1.5b23aa","type":"chatbot-message","z":"8fccad11.dad47","name":"","message":[""],"language":null,"x":590,"y":300,"wires":[["9a9d3f5e.fabe7"]]},{"id":"8c4fe1a2.9f18e","type":"debug","z":"8fccad11.dad47","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":100,"wires":[]},{"id":"e72dedfa.04704","type":"chatbot-telegram-node","z":"","botname":"websitemorrittibot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]