Node-Red/Db/DB_ 5(Where).json
[{"id":"2dfdafa9.c4dc1","type":"tab","label":"DB_ 5(Where)","disabled":true,"info":""},{"id":"7860774e.31d3d8","type":"ui_dropdown","z":"2dfdafa9.c4dc1","name":"","label":"Select 1","tooltip":"","place":"Select option 1","group":"df30c345.6b0fc","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"A","value":"A","type":"str"},{"label":"B","value":"B","type":"str"}],"payload":"","topic":"S1","x":80,"y":120,"wires":[["e0092ab2.2b9788"]]},{"id":"8a5b73e7.f397","type":"ui_button","z":"2dfdafa9.c4dc1","name":"","group":"df30c345.6b0fc","order":4,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":240,"wires":[["dff6021.424cd"]]},{"id":"3357d583.a5f84a","type":"ui_dropdown","z":"2dfdafa9.c4dc1","name":"","label":"Select 2","tooltip":"","place":"Select option 2","group":"df30c345.6b0fc","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"C","value":"C","type":"str"},{"label":"D","value":"D","type":"str"}],"payload":"","topic":"S2","x":90,"y":180,"wires":[["e0092ab2.2b9788"]]},{"id":"e0092ab2.2b9788","type":"join","z":"2dfdafa9.c4dc1","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":140,"wires":[["fdde625d.040b9","e785191c.01a148"]]},{"id":"fdde625d.040b9","type":"change","z":"2dfdafa9.c4dc1","name":"","rules":[{"t":"set","p":"selected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":140,"wires":[[]]},{"id":"dff6021.424cd","type":"change","z":"2dfdafa9.c4dc1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"selected","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[["678edf2f.f7bba","3d7c917b.b0b24e"]]},{"id":"678edf2f.f7bba","type":"debug","z":"2dfdafa9.c4dc1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":240,"wires":[]},{"id":"e785191c.01a148","type":"debug","z":"2dfdafa9.c4dc1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":60,"wires":[]},{"id":"3d7c917b.b0b24e","type":"ui_text","z":"2dfdafa9.c4dc1","group":"df30c345.6b0fc","order":6,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":200,"wires":[]},{"id":"df30c345.6b0fc","type":"ui_group","z":"","name":"Other-UI","tab":"185c180.772f2e8","disp":true,"width":"6","collapse":false},{"id":"185c180.772f2e8","type":"ui_tab","z":"","name":"Other DB","icon":"dashboard","disabled":false,"hidden":false}]