Node-Red/Db/DB_ 7(Prof).json
[{"id":"c437f47.67d8a08","type":"tab","label":"DB_7(Prof)","disabled":true,"info":""},{"id":"d6ae86b7.7afc08","type":"comment","z":"c437f47.67d8a08","name":"https://www.sqlitetutorial.net/sqlite-where/","info":"","x":680,"y":100,"wires":[]},{"id":"56639b22.1d10c4","type":"inject","z":"c437f47.67d8a08","name":"SELECT DISTINCT city FROM customers ORDER BY city;","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":180,"wires":[["25e2a19d.4eb23e"]]},{"id":"df69b8bf.6a60f8","type":"sqlite","z":"c437f47.67d8a08","mydb":"f5da2f5c.3ef4f","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":750,"y":260,"wires":[["77317fd4.b7251"]]},{"id":"b9c0c461.db85c8","type":"ui_template","z":"c437f47.67d8a08","group":"f05b1935.41f728","name":"name,    milliseconds,    bytes,    albumid","order":1,"width":"6","height":"16","format":"<style>\n.table\n{\n   \n    background:lightblue;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>{{msg.selected.S1}}</th> \n    <th>Country</th>\n    <th>Company</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:50\">\n    <td>{{msg.payload[$index].City}}</td>\n    <td>{{msg.payload[$index].Country}}</td>\n    <td>{{msg.payload[$index].Company}}</td>\n<!--    <td>{{msg.payload[$index].AlbumId}}</td>-->\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":800,"y":140,"wires":[[]]},{"id":"7855f83e.811938","type":"ui_dropdown","z":"c437f47.67d8a08","name":"","label":"Customers Data","tooltip":"Select the key for this Query","place":"Select option 1","group":"9d72d186.1f9f7","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"City","value":"City","type":"str"},{"label":"Country","value":"Country","type":"str"},{"label":"Company","value":"Company","type":"str"}],"payload":"","topic":"S1","x":100,"y":360,"wires":[["8dd8551d.eea1f8"]]},{"id":"7699156e.a1faac","type":"ui_button","z":"c437f47.67d8a08","name":"","group":"9d72d186.1f9f7","order":4,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":520,"wires":[["6261b254.409ffc"]]},{"id":"75ff7cf6.f12e34","type":"ui_dropdown","z":"c437f47.67d8a08","name":"","label":"Ordered By","tooltip":"","place":"Select option 2","group":"9d72d186.1f9f7","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"City","value":"City","type":"str"},{"label":"Country","value":"Country","type":"str"},{"label":"Company","value":"Company","type":"str"}],"payload":"","topic":"S2","x":90,"y":440,"wires":[["8dd8551d.eea1f8"]]},{"id":"8dd8551d.eea1f8","type":"join","z":"c437f47.67d8a08","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":250,"y":400,"wires":[["c668427c.d7c7","c5b4c7df.6f29d8"]]},{"id":"c668427c.d7c7","type":"change","z":"c437f47.67d8a08","name":"","rules":[{"t":"set","p":"selected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":400,"wires":[["4171b85d.976b18"]]},{"id":"6261b254.409ffc","type":"change","z":"c437f47.67d8a08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"selected","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":320,"wires":[["484f0fd9.450cc","aaa9264e.faa7d8","25e2a19d.4eb23e"]]},{"id":"484f0fd9.450cc","type":"debug","z":"c437f47.67d8a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":520,"wires":[]},{"id":"c5b4c7df.6f29d8","type":"debug","z":"c437f47.67d8a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":320,"wires":[]},{"id":"aaa9264e.faa7d8","type":"ui_text","z":"c437f47.67d8a08","group":"9d72d186.1f9f7","order":6,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":460,"wires":[]},{"id":"4171b85d.976b18","type":"debug","z":"c437f47.67d8a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":400,"wires":[]},{"id":"25e2a19d.4eb23e","type":"function","z":"c437f47.67d8a08","name":"SELECT city, country, company FROM customers ORDER BY country;","func":"msg.topic = \"SELECT \" + msg.payload.S1 +  \" FROM customers ORDER BY \"+ msg.payload.S2;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["b8c4bbb8.f65bb8","df69b8bf.6a60f8","b9c0c461.db85c8"]]},{"id":"b8c4bbb8.f65bb8","type":"debug","z":"c437f47.67d8a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":320,"wires":[]},{"id":"77317fd4.b7251","type":"change","z":"c437f47.67d8a08","name":"","rules":[{"t":"set","p":"selected","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":200,"wires":[["b9c0c461.db85c8"]]},{"id":"f5da2f5c.3ef4f","type":"sqlitedb","z":"","db":"C:\\Users\\MMorr\\Desktop\\iot\\chinook.db","mode":"RWC"},{"id":"f05b1935.41f728","type":"ui_group","z":"","name":"Default","tab":"1074c4fb.aa012b","disp":true,"width":"6","collapse":false},{"id":"9d72d186.1f9f7","type":"ui_group","z":"","name":"Other-UI","tab":"1074c4fb.aa012b","disp":true,"width":"6","collapse":false},{"id":"1074c4fb.aa012b","type":"ui_tab","z":"","name":"ESERCIZIO GOMBA","icon":"dashboard","disabled":false,"hidden":false}]