Node-Red/Db/DB_1.json
[{"id":"c2b7030.131b6","type":"tab","label":"Database","disabled":true,"info":""},{"id":"b71651ef.f8728","type":"inject","z":"c2b7030.131b6","name":"create database table","topic":"CREATE TABLE data(TIMESTAMP INT PRIMARY KEY NOT NULL, SENSOR TEXT NOT NULL, TEMPERATURE INT NOT NULL, HUMIDITY INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":80,"wires":[["1436f40d.cee37c"]]},{"id":"1d470a96.359e75","type":"debug","z":"c2b7030.131b6","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":300,"wires":[]},{"id":"d986cce7.d5fe9","type":"inject","z":"c2b7030.131b6","name":"insert data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":400,"wires":[["5c6c034a.a1c34c"]]},{"id":"aa1f04de.1322e8","type":"function","z":"c2b7030.131b6","name":"Insert","func":"var newMsg = {\n \"topic\": \"INSERT INTO data ( timestamp,sensor,temperature,humidity) values(0,'sensor',20,66)\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["1436f40d.cee37c","a40ad01f.363eb"]]},{"id":"78724418.5ef94c","type":"inject","z":"c2b7030.131b6","name":"delete records","topic":"DELETE FROM DATA WHERE TIMESTAMP>=0","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":120,"wires":[["1436f40d.cee37c"]]},{"id":"a70c8ceb.1c3d8","type":"inject","z":"c2b7030.131b6","name":"show RECORDS","topic":"SELECT * FROM DATA ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":170,"y":20,"wires":[["4427d579.3ecc8c"]]},{"id":"b54bfcd4.b56b7","type":"ui_template","z":"c2b7030.131b6","group":"72dab44f.ac15dc","name":"UI Table","order":1,"width":"","height":"","format":"<style>\n.table\n{\n    height:400px;\n    width:550px;\n    background:lightblue;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th> \n    <th>SENSOR</th>\n    <th>TEMPERATURE</th> \n    <th>HUMIDITY</th>\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:10\">\n    <td>{{msg.payload[$index].TIMESTAMP}}</td>\n    <td>{{msg.payload[$index].SENSOR}}</td>\n    <td>{{msg.payload[$index].TEMPERATURE}}</td> \n    <td>{{msg.payload[$index].HUMIDITY}}</td>\n\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":680,"y":20,"wires":[[]]},{"id":"1436f40d.cee37c","type":"sqlite","z":"c2b7030.131b6","mydb":"","sqlquery":"msg.topic","sql":"","name":"","x":400,"y":240,"wires":[["1d470a96.359e75"]]},{"id":"f48608ac.021b88","type":"inject","z":"c2b7030.131b6","name":"Test Data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["bf40e0c0.21981"]]},{"id":"bf40e0c0.21981","type":"function","z":"c2b7030.131b6","name":"test data","func":"var count=context.get('count');\nvar timestamp=context.get('timestamp');\n\nif (count==undefined)\n{\n    count=1;\n    timestamp=1;\n}\nvar data1={\"sensor\":\"sensor1\",\"temperature\":21,\"humidity\":61};\n//var data2={\"sensor\":\"sensor2\",\"temperature\":22,\"humidity\":62};\n//var data3={\"sensor\":\"sensor3\",\"temperature\":23,\"humidity\":63};\nif (count%20==0)\n    count=-count;\ndata1.temperature+=(count*.25);\n//data2.temperature+=(count*.5);\n//data3.temperature+=(count*.75);\ndata1.humidity+=(count*.25);\n//data2.humidity+=(count*.5);\n//data3.humidity+=(count*.75);\nmsg.payload=[data1];\nvar msg1={};\nvar msg2={};\nvar msg3={};\n\ndata1.timestamp=timestamp;\n//timestamp+=1;\n//data2.timestamp=timestamp;\n//timestamp+=1;\n//data3.timestamp=timestamp;\n\nmsg1.payload=data1;\n//msg2.payload=data2;\n//msg3.payload=data3;\ntimestamp+=1;\ncount+=1;\ncontext.set('count',count);\ncontext.set('timestamp',timestamp);\nreturn msg1;","outputs":1,"noerr":0,"x":240,"y":600,"wires":[["e2db1b52.58d1f8","f98caa4.f6a6a58"]]},{"id":"e2db1b52.58d1f8","type":"debug","z":"c2b7030.131b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":640,"wires":[]},{"id":"f98caa4.f6a6a58","type":"function","z":"c2b7030.131b6","name":"write query","func":"var timestamp=msg.payload.timestamp;\nvar sensor=msg.payload.sensor;\nvar temperature=msg.payload.temperature;\nvar humidity=msg.payload.humidity;\n//put data into json string\n\nmsg=\"( timestamp,sensor,temperature,humidity) values(\"+timestamp +\",\\'\"+sensor +\"\\',\" + temperature + \",\" + humidity +\")\";\nvar topic=\"INSERT INTO DATA \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["f70ba234.98ff2","89d0d571.456578"]]},{"id":"f70ba234.98ff2","type":"debug","z":"c2b7030.131b6","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":440,"wires":[]},{"id":"5c6c034a.a1c34c","type":"function","z":"c2b7030.131b6","name":"Insert using variable","func":"var sensor=\"sensor5\";\nmsg=\"( timestamp,sensor,temperature,humidity) values(4,\"+\"\\'\"+sensor +\"\\'\" + \",20,66)\";\nvar topic=\"INSERT INTO DATA \" +msg;\nvar msg1={};\nmsg1.topic=topic;\n\nreturn msg1;","outputs":1,"noerr":0,"x":340,"y":380,"wires":[["1436f40d.cee37c","a40ad01f.363eb"]]},{"id":"a40ad01f.363eb","type":"debug","z":"c2b7030.131b6","name":"insert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":120,"wires":[]},{"id":"4427d579.3ecc8c","type":"sqlite","z":"c2b7030.131b6","mydb":"","sqlquery":"msg.topic","sql":"","name":"","x":400,"y":20,"wires":[["b54bfcd4.b56b7"]]},{"id":"437cc947.5ffb78","type":"catch","z":"c2b7030.131b6","name":"","scope":null,"uncaught":false,"x":100,"y":780,"wires":[["35fbe066.0c03e","90c69e3b.24afe"]]},{"id":"35fbe066.0c03e","type":"debug","z":"c2b7030.131b6","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":820,"wires":[]},{"id":"44cb6e6.92fc59","type":"ui_text","z":"c2b7030.131b6","group":"72dab44f.ac15dc","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":740,"wires":[]},{"id":"89d0d571.456578","type":"delay","z":"c2b7030.131b6","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":560,"wires":[["1436f40d.cee37c"]]},{"id":"90c69e3b.24afe","type":"function","z":"c2b7030.131b6","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":720,"wires":[["44cb6e6.92fc59"]]},{"id":"91988d11.8bfd5","type":"inject","z":"c2b7030.131b6","name":"Drop Table","topic":"drop table data","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":180,"wires":[["1436f40d.cee37c"]]},{"id":"c3315b85.1b5ee8","type":"inject","z":"c2b7030.131b6","name":"insert","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["aa1f04de.1322e8"]]},{"id":"eda79555.4a9588","type":"function","z":"c2b7030.131b6","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":960,"wires":[[]]},{"id":"38140a90.caa076","type":"inject","z":"c2b7030.131b6","name":"clear errors","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":920,"wires":[["eda79555.4a9588"]]},{"id":"c6387427.50c9e8","type":"inject","z":"c2b7030.131b6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":900,"wires":[["dda77047.393c3"]]},{"id":"dda77047.393c3","type":"function","z":"c2b7030.131b6","name":"","func":"var data={};\ndata[\"temp\"]=20;\ndata[\"humidity\"]=50;\njson_out=JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":940,"wires":[[]]},{"id":"72dab44f.ac15dc","type":"ui_group","z":"","name":"Sensors","tab":"e0f80264.55d99","order":1,"disp":true,"width":"12","collapse":false},{"id":"e0f80264.55d99","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]