Node-Red/Db/DB_2.json
[{"id":"c4922810.14b078","type":"tab","label":"database 2","disabled":true,"info":""},{"id":"b0314a2d.d83e08","type":"inject","z":"c4922810.14b078","name":"SELECT    1 + 1;","topic":"SELECT    1 + 1;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":160,"wires":[["2ee9560d.066c7a"]]},{"id":"2ee9560d.066c7a","type":"sqlite","z":"c4922810.14b078","mydb":"f5da2f5c.3ef4f","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":690,"y":160,"wires":[["3bdc354a.ccefda"]]},{"id":"3bdc354a.ccefda","type":"debug","z":"c4922810.14b078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":160,"wires":[]},{"id":"94f3d703.f889c8","type":"inject","z":"c4922810.14b078","name":"SELECT     10 / 5,     2 * 4 ;","topic":"SELECT     10 / 5,     2 * 4 ;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":260,"wires":[["88e2365.fcfbac8"]]},{"id":"88e2365.fcfbac8","type":"sqlite","z":"c4922810.14b078","mydb":"f5da2f5c.3ef4f","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":690,"y":260,"wires":[["5e66e1f0.9940a"]]},{"id":"5e66e1f0.9940a","type":"debug","z":"c4922810.14b078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":260,"wires":[]},{"id":"b6998bb.f779078","type":"inject","z":"c4922810.14b078","name":"SELECT     trackid,     name,     composer,     unitprice FROM     tracks;","topic":"SELECT     trackid,     name,     composer,     unitprice FROM     tracks;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":400,"wires":[["4e527637.6bf948"]]},{"id":"4e527637.6bf948","type":"sqlite","z":"c4922810.14b078","mydb":"f5da2f5c.3ef4f","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":670,"y":420,"wires":[["4635683.acd1a98","9b6e352f.7df438"]]},{"id":"4635683.acd1a98","type":"debug","z":"c4922810.14b078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":380,"wires":[]},{"id":"f5defb7f.ea1ea8","type":"inject","z":"c4922810.14b078","name":"SELECT     trackid,     name,     albumid,     mediatypeid,     genreid,     composer,     milliseconds,     bytes,     unitprice FROM     tracks;","topic":"SELECT     trackid,     name,     albumid,     mediatypeid,     genreid,     composer,     milliseconds,     bytes,     unitprice FROM     tracks;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":540,"wires":[["3edc299f.851cd6"]]},{"id":"3edc299f.851cd6","type":"sqlite","z":"c4922810.14b078","mydb":"f5da2f5c.3ef4f","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":610,"y":680,"wires":[["323eabf3.45fa84"]]},{"id":"323eabf3.45fa84","type":"debug","z":"c4922810.14b078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":680,"wires":[]},{"id":"9b6e352f.7df438","type":"debug","z":"c4922810.14b078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[94].Name","targetType":"msg","x":970,"y":440,"wires":[]},{"id":"7842b5a2.acbd2c","type":"comment","z":"c4922810.14b078","name":"https://www.sqlitetutorial.net/sqlite-select/","info":"","x":200,"y":60,"wires":[]},{"id":"f6d8282b.f2da28","type":"inject","z":"c4922810.14b078","name":"SELECT * FROM tracks;","topic":"SELECT * FROM tracks;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":620,"wires":[["3edc299f.851cd6"]]},{"id":"f5da2f5c.3ef4f","type":"sqlitedb","z":"","db":"C:\\Users\\MMorr\\Desktop\\iot\\chinook.db","mode":"RWC"}]