Node-Red/Db/DB_3(OrderBy).json
[{"id":"3765325.12692ce","type":"tab","label":"DB ORDER BY","disabled":true,"info":""},{"id":"2831e607.26af7a","type":"comment","z":"3765325.12692ce","name":"https://www.sqlitetutorial.net/sqlite-order-by/","info":"","x":450,"y":100,"wires":[]},{"id":"605d4397.705e7c","type":"inject","z":"3765325.12692ce","name":"SELECT name, milliseconds, albumid FROM tracks;","topic":"SELECT     name,     milliseconds,          albumid FROM     tracks;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":140,"wires":[["dff52b2f.535ff8"]]},{"id":"dff52b2f.535ff8","type":"sqlite","z":"3765325.12692ce","mydb":"f5da2f5c.3ef4f","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":640,"y":160,"wires":[["5b4073ca.7548ac"]]},{"id":"5b4073ca.7548ac","type":"debug","z":"3765325.12692ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":160,"wires":[]},{"id":"bbb2507e.52e35","type":"inject","z":"3765325.12692ce","name":"SELECT  name, millisecond, albumid FROM tracks ORDER BY albumid ASC;","topic":"SELECT     name,     milliseconds,      albumid FROM     tracks ORDER BY     albumid ASC;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":240,"wires":[["37c2efaf.29b5a"]]},{"id":"37c2efaf.29b5a","type":"sqlite","z":"3765325.12692ce","mydb":"f5da2f5c.3ef4f","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":600,"y":280,"wires":[["7576abf2.972d74"]]},{"id":"7576abf2.972d74","type":"debug","z":"3765325.12692ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":280,"wires":[]},{"id":"3c8018fd.2c7ba8","type":"inject","z":"3765325.12692ce","name":"SELECT      TrackId,      Name,      Composer  FROM     tracks ORDER BY     Composer;","topic":"SELECT      TrackId,      Name,      Composer  FROM     tracks ORDER BY     Composer;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":400,"wires":[["8281c597.6c2308"]]},{"id":"8281c597.6c2308","type":"sqlite","z":"3765325.12692ce","mydb":"f5da2f5c.3ef4f","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":580,"y":500,"wires":[["5b3807cb.17d2f8"]]},{"id":"5b3807cb.17d2f8","type":"debug","z":"3765325.12692ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":500,"wires":[]},{"id":"c8fadc22.bdea8","type":"comment","z":"3765325.12692ce","name":"The Power Of NULL","info":"","x":320,"y":340,"wires":[]},{"id":"f5da2f5c.3ef4f","type":"sqlitedb","z":"","db":"C:\\Users\\MMorr\\Desktop\\iot\\chinook.db","mode":"RWC"}]