Node-Red/Db/DB_4(Distinct).json
[{"id":"e0717d5f.a85d3","type":"tab","label":"DB DISTINCT","disabled":true,"info":""},{"id":"b1bf7b95.952f68","type":"comment","z":"e0717d5f.a85d3","name":"https://www.sqlitetutorial.net/sqlite-select-distinct","info":"","x":760,"y":60,"wires":[]},{"id":"e1700df6.ed87","type":"inject","z":"e0717d5f.a85d3","name":"SELECT city FROM customers ORDER BY city;","topic":"SELECT city FROM customers ORDER BY city;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":180,"wires":[["ab721c52.fe277"]]},{"id":"63569c67.d02e14","type":"inject","z":"e0717d5f.a85d3","name":"SELECT DISTINCT city FROM customers ORDER BY city;","topic":"SELECT DISTINCT city FROM customers ORDER BY city;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":300,"wires":[["ab721c52.fe277"]]},{"id":"ab721c52.fe277","type":"sqlite","z":"e0717d5f.a85d3","mydb":"4a9532e6.b9febc","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":790,"y":280,"wires":[["e4d76a5a.024538","4e3a4603.eff578"]]},{"id":"e4d76a5a.024538","type":"debug","z":"e0717d5f.a85d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":400,"wires":[]},{"id":"4e3a4603.eff578","type":"ui_template","z":"e0717d5f.a85d3","group":"d381a69f.51ec98","name":"UI Table City, Name","order":1,"width":"12","height":"18","format":"<style>\n.table\n{\n   \n    background:lightblue;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>City</th> \n    <th>Name</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:50\">\n    <td>{{msg.payload[$index].City}}</td>\n    <td>{{msg.payload[$index].Name}}</td>\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":910,"y":120,"wires":[[]]},{"id":"73d3a7b3.09e968","type":"ui_button","z":"e0717d5f.a85d3","name":"","group":"965e321.d911dd","order":3,"width":0,"height":0,"passthru":false,"label":"Distinct To Cities","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":260,"wires":[["744d1493.d58a7c"]]},{"id":"744d1493.d58a7c","type":"function","z":"e0717d5f.a85d3","name":"SELECT DISTINCT city FROM customers ORDER BY city;","func":"msg.topic = \"SELECT DISTINCT city FROM customers ORDER BY city;\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":360,"wires":[["ab721c52.fe277"]]},{"id":"fb349bf9.592178","type":"function","z":"e0717d5f.a85d3","name":"SELECT city FROM customers ORDER BY city;","func":"msg.topic = \"SELECT city FROM customers ORDER BY city;\"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":240,"wires":[["ab721c52.fe277"]]},{"id":"2279a15a.de59be","type":"ui_button","z":"e0717d5f.a85d3","name":"","group":"965e321.d911dd","order":3,"width":0,"height":0,"passthru":false,"label":"All Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":180,"wires":[["fb349bf9.592178"]]},{"id":"3a6f63c7.09fc2c","type":"ui_button","z":"e0717d5f.a85d3","name":"","group":"965e321.d911dd","order":3,"width":0,"height":0,"passthru":false,"label":"Clean Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":80,"wires":[["6323d8f7.0708f8"]]},{"id":"6323d8f7.0708f8","type":"function","z":"e0717d5f.a85d3","name":"SELECT ","func":"msg.payload =  [];\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["4e3a4603.eff578"]]},{"id":"16a9aca0.b3cc73","type":"ui_template","z":"e0717d5f.a85d3","group":"1e82eb89.af0394","name":"UI Table City, Name, Country","order":1,"width":"","height":"","format":"<style>\n.table\n{\n   \n    background:lightblue;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>City</th> \n    <th>Name</th>\n    <th>Country</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:50\">\n    <td>{{msg.payload[$index].City}}</td>\n    <td>{{msg.payload[$index].Name}}</td>\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1020,"y":180,"wires":[[]]},{"id":"4a9532e6.b9febc","type":"sqlitedb","z":"","db":"C:\\Users\\Davide Gomba\\Documents\\A - ITS\\online course\\db\\chinook.db","mode":"RWC"},{"id":"d381a69f.51ec98","type":"ui_group","z":"","name":"Cities","tab":"d0b4318e.d5b17","order":1,"disp":true,"width":"12","collapse":false},{"id":"965e321.d911dd","type":"ui_group","z":"","name":"UI","tab":"d0b4318e.d5b17","order":2,"disp":true,"width":"6","collapse":false},{"id":"1e82eb89.af0394","type":"ui_group","z":"","name":"Default","tab":"aba800cb.91d3c","disp":true,"width":"6","collapse":false},{"id":"d0b4318e.d5b17","type":"ui_tab","z":"","name":"DB","icon":"dashboard","disabled":false,"hidden":false},{"id":"aba800cb.91d3c","type":"ui_tab","z":"","name":"Other DB","icon":"dashboard","disabled":false,"hidden":false}]