Node-Red/Db/DB_6(DiVincenzo).json
[{"id":"9ebb732a.36735","type":"tab","label":"DB ex Di Vincenzo","disabled":true,"info":""},{"id":"5bea1e65.7db0f","type":"ui_button","z":"9ebb732a.36735","name":"","group":"5f18869c.8f44d8","order":1,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"SELECT * FROM artists","x":110,"y":240,"wires":[["552c3868.e62318"]]},{"id":"7dfb49ff.087838","type":"debug","z":"9ebb732a.36735","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"options","targetType":"msg","x":450,"y":240,"wires":[]},{"id":"6bbbba9b.ea4064","type":"ui_dropdown","z":"9ebb732a.36735","name":"Select Band","label":"","tooltip":"Select Artist","place":"Select Artist","group":"7801d062.0ac83","order":1,"width":6,"height":1,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"datasource","x":630,"y":240,"wires":[["3d5a0636.46594a","31f6673e.1de8f8"]]},{"id":"90dc1f0d.a8f28","type":"function","z":"9ebb732a.36735","name":"Create Options","func":"myarray = new Array(msg.payload.length);\n\nfor(i=0;i<msg.payload.length;i++){\n    nome = msg.payload[i].Name;\n    id = msg.payload[i].ArtistId;\n    \n    myarray[i] = \n    {nome : id}\n}\n\nmsg.options = myarray;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":140,"wires":[["6bbbba9b.ea4064","7dfb49ff.087838"]]},{"id":"9fde42c9.d3575","type":"inject","z":"9ebb732a.36735","name":"","topic":"SELECT * FROM artists","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["552c3868.e62318"]]},{"id":"8d887705.86d248","type":"inject","z":"9ebb732a.36735","name":"ArtistId","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":240,"wires":[["3d5a0636.46594a"]]},{"id":"54c8f48d.e8c79c","type":"ui_dropdown","z":"9ebb732a.36735","name":"Select Album","label":"","tooltip":"Select Album","place":"Select Album","group":"56872ee3.e64fe","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1190,"y":140,"wires":[["5675bca8.b2d4d4","5f533872.424d18"]]},{"id":"35f95bda.3d7064","type":"comment","z":"9ebb732a.36735","name":"Select Artist","info":"","x":110,"y":40,"wires":[]},{"id":"552c3868.e62318","type":"sqlite","z":"9ebb732a.36735","mydb":"f5da2f5c.3ef4f","sqlquery":"msg.topic","sql":"","name":"SQLite Artist","x":290,"y":140,"wires":[["90dc1f0d.a8f28","72b7f425.5297dc"]]},{"id":"72b7f425.5297dc","type":"debug","z":"9ebb732a.36735","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":240,"wires":[]},{"id":"3d5a0636.46594a","type":"function","z":"9ebb732a.36735","name":"Query","func":"\ns = \"SELECT * FROM albums WHERE ArtistId =\" + msg.payload;\nmsg.topic = s;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":140,"wires":[["e6b19152.d1d7e"]]},{"id":"e6b19152.d1d7e","type":"sqlite","z":"9ebb732a.36735","mydb":"f5da2f5c.3ef4f","sqlquery":"msg.topic","sql":"","name":"SQLite Albums","x":960,"y":140,"wires":[["7f0aff4a.4300c","88ec8a23.266568"]]},{"id":"7f0aff4a.4300c","type":"debug","z":"9ebb732a.36735","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":60,"wires":[]},{"id":"88ec8a23.266568","type":"function","z":"9ebb732a.36735","name":"Create Options 2","func":"myarray = new Array(msg.payload.length);\n\nfor(i=0;i<msg.payload.length;i++){\n    titolo = msg.payload[i].Title;\n    id = msg.payload[i].AlbumId;\n    \n    myarray[i] = \n    {titolo : id}\n}\n\nmsg.options = myarray;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":240,"wires":[["ce57dc73.954db","54c8f48d.e8c79c"]]},{"id":"ce57dc73.954db","type":"debug","z":"9ebb732a.36735","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"options","targetType":"msg","x":1190,"y":240,"wires":[]},{"id":"fb557b7b.e0c708","type":"comment","z":"9ebb732a.36735","name":"Select Album","info":"","x":1190,"y":60,"wires":[]},{"id":"f9246398.5497f","type":"ui_template","z":"9ebb732a.36735","group":"b0d4c808.efc148","name":"UI table Songs","order":1,"width":9,"height":15,"format":"<style>\n.table\n{\n    background:#242424;\n    color:#db0d22;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>Traccia</th>\n    <th>Nome</th>\n    <th>Compositore</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:50\">\n    <td>{{msg.payload[$index].TrackId}}</td>\n    <td>{{msg.payload[$index].Name}}</td>\n    <td>{{msg.payload[$index].Composer}}</td>\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1760,"y":140,"wires":[[]]},{"id":"5675bca8.b2d4d4","type":"debug","z":"9ebb732a.36735","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":240,"wires":[]},{"id":"31f6673e.1de8f8","type":"debug","z":"9ebb732a.36735","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":140,"wires":[]},{"id":"5f533872.424d18","type":"function","z":"9ebb732a.36735","name":"Query","func":"s = \"SELECT TrackId, Name, Composer FROM tracks WHERE AlbumId =\" + msg.payload;\n\nmsg.topic = s;\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":140,"wires":[["1030f2fe.1b04ed"]]},{"id":"1030f2fe.1b04ed","type":"sqlite","z":"9ebb732a.36735","mydb":"f5da2f5c.3ef4f","sqlquery":"msg.topic","sql":"","name":"SQLite Tracks","x":1500,"y":140,"wires":[["bcea77e7.564b38","f9246398.5497f"]]},{"id":"bcea77e7.564b38","type":"debug","z":"9ebb732a.36735","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1570,"y":240,"wires":[]},{"id":"5f18869c.8f44d8","type":"ui_group","z":"","name":"Button","tab":"d9522f17.31215","order":1,"disp":false,"width":"6","collapse":false},{"id":"7801d062.0ac83","type":"ui_group","z":"","name":"Dropdown Band","tab":"d9522f17.31215","order":2,"disp":false,"width":"6","collapse":false},{"id":"56872ee3.e64fe","type":"ui_group","z":"","name":"Dropdown Album","tab":"d9522f17.31215","order":3,"disp":false,"width":"6","collapse":false},{"id":"f5da2f5c.3ef4f","type":"sqlitedb","z":"","db":"C:\\Users\\MMorr\\Desktop\\iot\\chinook.db","mode":"RWC"},{"id":"b0d4c808.efc148","type":"ui_group","z":"","name":"Table","tab":"d9522f17.31215","order":4,"disp":false,"width":"9","collapse":false},{"id":"d9522f17.31215","type":"ui_tab","z":"","name":"SQLite ex","icon":"dashboard","order":8,"disabled":false,"hidden":false}]