Node-Red/Db/DB_7(Create).json
[{"id":"54f760be.a50c7","type":"tab","label":"SQLITE CREATE TABLE","disabled":true,"info":"https://www.sqlitetutorial.net/sqlite-create-table/"},{"id":"7d06cef4.b020f","type":"comment","z":"54f760be.a50c7","name":"https://www.sqlitetutorial.net/sqlite-create-table/","info":"","x":260,"y":340,"wires":[]},{"id":"96a595df.9e1108","type":"sqlite","z":"54f760be.a50c7","mydb":"48aca95c.033e68","sqlquery":"msg.topic","sql":"","name":"SQLite Tutorial Database","x":630,"y":600,"wires":[["65c2e31d.5dd89c","3970be60.ce9e72"]]},{"id":"65c2e31d.5dd89c","type":"debug","z":"54f760be.a50c7","name":"Debug DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":480,"wires":[]},{"id":"1d3c5fdd.9965","type":"function","z":"54f760be.a50c7","name":"Query create","func":"msg.topic = \"CREATE TABLE \"+msg.payload.table_name+\" (\"+msg.payload.column1+\" \"+msg.payload.data_type1+\" PRIMARY KEY,\"+msg.payload.column2+\" \"+msg.payload.data_type2+\" NOT NULL,\"+msg.payload.column3+\" \"+msg.payload.data_type3+\" NOT NULL)\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":430,"y":640,"wires":[["6d6fb82b.b50168","96a595df.9e1108"]]},{"id":"6d6fb82b.b50168","type":"debug","z":"54f760be.a50c7","name":"Debug Create","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":740,"wires":[]},{"id":"a71d71ae.f63f6","type":"comment","z":"54f760be.a50c7","name":"CREATE TABLE Di Giovanni","info":"","x":620,"y":340,"wires":[]},{"id":"43b9f114.53011","type":"ui_text_input","z":"54f760be.a50c7","name":"","label":"Inserisci nome tabella","tooltip":"","group":"782e90c9.727f9","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"1","topic":"table_name","x":140,"y":400,"wires":[["612700c3.265fd"]]},{"id":"8f4dc0d8.43169","type":"ui_text_input","z":"54f760be.a50c7","name":"","label":"Colonna 1 (PrimaryKey)","tooltip":"","group":"782e90c9.727f9","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"1","topic":"column1","x":150,"y":460,"wires":[["612700c3.265fd"]]},{"id":"6fa06747.38c148","type":"ui_text_input","z":"54f760be.a50c7","name":"","label":"Colonna 2","tooltip":"","group":"782e90c9.727f9","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"1","topic":"column2","x":110,"y":500,"wires":[["612700c3.265fd"]]},{"id":"9c2aa6f9.f2b758","type":"ui_text_input","z":"54f760be.a50c7","name":"","label":"Colonna3","tooltip":"","group":"782e90c9.727f9","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"1","topic":"column3","x":100,"y":540,"wires":[["612700c3.265fd"]]},{"id":"f3db7a00.afa938","type":"ui_dropdown","z":"54f760be.a50c7","name":"","label":"DataType1","tooltip":"","place":"Select option","group":"782e90c9.727f9","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"Int","value":"INTEGER","type":"str"},{"label":"Text","value":"TEXT","type":"str"}],"payload":"","topic":"data_type1","x":90,"y":600,"wires":[["612700c3.265fd"]]},{"id":"58ba786f.3e6c28","type":"ui_dropdown","z":"54f760be.a50c7","name":"","label":"DataType2","tooltip":"","place":"Select option","group":"782e90c9.727f9","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"Int","value":"INTEGER","type":"str"},{"label":"Text","value":"TEXT","type":"str"}],"payload":"","topic":"data_type2","x":90,"y":640,"wires":[["612700c3.265fd"]]},{"id":"58debbe8.26f994","type":"ui_dropdown","z":"54f760be.a50c7","name":"","label":"DataType3","tooltip":"","place":"Select option","group":"782e90c9.727f9","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"Int","value":"INTEGER","type":"str"},{"label":"Text","value":"TEXT","type":"str"}],"payload":"","topic":"data_type3","x":90,"y":680,"wires":[["612700c3.265fd"]]},{"id":"612700c3.265fd","type":"join","z":"54f760be.a50c7","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":350,"y":520,"wires":[["595498c2.012968","1d3c5fdd.9965"]]},{"id":"595498c2.012968","type":"debug","z":"54f760be.a50c7","name":"Prova Join","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":500,"wires":[]},{"id":"1c9ae04a.b62de","type":"ui_button","z":"54f760be.a50c7","name":"","group":"782e90c9.727f9","order":7,"width":0,"height":0,"passthru":false,"label":"Crea Tabella","tooltip":"","color":"","bgcolor":"","icon":"","payload":"selected","payloadType":"flow","topic":"","x":90,"y":720,"wires":[["612700c3.265fd"]]},{"id":"d7a58725.001508","type":"ui_form","z":"54f760be.a50c7","name":"","label":"Creazione tabella","group":"3296268.535deda","order":8,"width":0,"height":0,"options":[{"label":"Nome tabella","value":"table_name","type":"text","required":true,"rows":null},{"label":"Colonna 1","value":"column1","type":"text","required":true,"rows":null},{"label":"Tipo dato 1","value":"data_type1","type":"text","required":true,"rows":null},{"label":"Colonna 2","value":"column2","type":"text","required":true,"rows":null},{"label":"Tipo dato 2","value":"data_type2","type":"text","required":true,"rows":null},{"label":"Colonna 3","value":"column3","type":"text","required":true,"rows":null},{"label":"Tipo dato 3","value":"data_type3","type":"text","required":false,"rows":null}],"formValue":{"table_name":"","column1":"","data_type1":"","column2":"","data_type2":"","column3":"","data_type3":""},"payload":"","submit":"Crea tabella","cancel":"Reset","topic":"","x":330,"y":720,"wires":[["a38cbad1.c3e368","1d3c5fdd.9965"]]},{"id":"a38cbad1.c3e368","type":"debug","z":"54f760be.a50c7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":820,"wires":[]},{"id":"aaf807bd.f708d8","type":"ui_text","z":"54f760be.a50c7","group":"3296268.535deda","order":0,"width":0,"height":0,"name":"","label":"Stato: ","format":"{{msg.payload}}","layout":"row-center","x":950,"y":780,"wires":[]},{"id":"3970be60.ce9e72","type":"switch","z":"54f760be.a50c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":680,"wires":[["7ba4e5d0.dc869c"],["c0e0c504.a89eb8"]]},{"id":"7ba4e5d0.dc869c","type":"function","z":"54f760be.a50c7","name":"Provo a fare un output","func":"msg.payload=\"Creato correttamente\";\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":840,"wires":[["aaf807bd.f708d8"]]},{"id":"c0e0c504.a89eb8","type":"function","z":"54f760be.a50c7","name":"Provo 2","func":"msg.payload=\"Errore\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":880,"wires":[["aaf807bd.f708d8"]]},{"id":"48aca95c.033e68","type":"sqlitedb","z":"","db":"C:\\Users\\MMorr\\Desktop\\iot\\DBpass\\passdb.db","mode":"RWC"},{"id":"782e90c9.727f9","type":"ui_group","z":"","name":"Editor Tabella","tab":"4393cff.79ae63","order":1,"disp":true,"width":"7","collapse":false},{"id":"3296268.535deda","type":"ui_group","z":"","name":"Editor Tabella Brutto","tab":"4393cff.79ae63","order":2,"disp":true,"width":"5","collapse":false},{"id":"4393cff.79ae63","type":"ui_tab","z":"","name":"CREATE TABLE","icon":"dashboard","order":15,"disabled":false,"hidden":false}]