Node-Red/Db/DB_8(Count).json
[{"id":"aea0bc5.475ca4","type":"tab","label":"sq.count.2","disabled":true,"info":""},{"id":"ab47150a.2dc9a8","type":"inject","z":"aea0bc5.475ca4","name":"COUNT2","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["b2962873.6ba288"]]},{"id":"4b594bd6.9cb274","type":"sqlite","z":"aea0bc5.475ca4","mydb":"f5da2f5c.3ef4f","sqlquery":"msg.topic","sql":"","name":"Chinook","x":440,"y":240,"wires":[["c0403a40.fbe8c8"]]},{"id":"c0403a40.fbe8c8","type":"debug","z":"aea0bc5.475ca4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":280,"wires":[]},{"id":"b2962873.6ba288","type":"function","z":"aea0bc5.475ca4","name":"COUNT2","func":"msg.topic = \"SELECT albumid, COUNT (*) FROM tracks GROUP BY albumid HAVING COUNT(*) > 25 ORDER BY COUNT(*) DESC;\"\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":200,"wires":[["4b594bd6.9cb274"]]},{"id":"f5da2f5c.3ef4f","type":"sqlitedb","z":"","db":"C:\\Users\\MMorr\\Desktop\\iot\\chinook.db","mode":"RWC"}]