Node-Red/Db/DB_9.json
[{"id":"ba148b02.7708f8","type":"tab","label":"SQLite 3 DB","disabled":true,"info":""},{"id":"ea7ff517.1ae588","type":"debug","z":"ba148b02.7708f8","name":"","active":false,"console":"false","complete":"false","x":1090,"y":220,"wires":[]},{"id":"a3091525.9b0098","type":"sqlite","z":"ba148b02.7708f8","mydb":"dbe9fc1f.8d838","sql":"","name":"test 3","x":990,"y":140,"wires":[["ea7ff517.1ae588"]]},{"id":"77e7787d.ab9238","type":"inject","z":"ba148b02.7708f8","name":"DELETE","topic":"DELETE  FROM table1, table2","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":640,"y":200,"wires":[["a3091525.9b0098"]]},{"id":"9697dc85.5d1f8","type":"inject","z":"ba148b02.7708f8","name":"Insert temp hum to table 1","topic":"","payload":"{\"table\":\"table1\",\"temperature\":11.5,\"humidity\":40.5}","payloadType":"json","repeat":"5","crontab":"","once":true,"onceDelay":"2","x":160,"y":200,"wires":[["6a6e1d8c.272224"]]},{"id":"2d87519a.c1849e","type":"inject","z":"ba148b02.7708f8","name":"SELECT and COMPARE","topic":"SELECT table1.time, table1.temperature AS t1,  table2.temperature AS t2, table1.humidity AS h1,  table2.humidity AS h2, ROUND((table1.temperature-table2.temperature),2) AS deltaTemp,  ROUND((table1.humidity-table2.humidity),2) AS deltaHum FROM table1, table2 WHERE ABS(table1.time-table2.time)<1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":460,"wires":[["748e74f8.8bda4c"]]},{"id":"ad20364.7ad5ec8","type":"inject","z":"ba148b02.7708f8","name":"CREATE TABLE1","topic":"CREATE TABLE table1(id INTEGER PRIMARY KEY AUTOINCREMENT, time INTEGER, temperature NUMERIC, humidity NUMERIC)","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":590,"y":80,"wires":[["a3091525.9b0098"]]},{"id":"f7b283a1.d7d36","type":"comment","z":"ba148b02.7708f8","name":"CREATE TABLE table1(id INTEGER PRIMARY KEY AUTOINCREMENT, time INTEGER, temperature NUMERIC, humidity NUMERIC)","info":"","x":550,"y":20,"wires":[]},{"id":"9cb4acc4.0bf06","type":"template","z":"ba148b02.7708f8","name":"INSERT QUERY","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT into {{payload.table}} (time,temperature, humidity)\nvalues({{myepoch}},{{payload.temperature}},{{payload.humidity}})","output":"str","x":830,"y":240,"wires":[[]]},{"id":"33122eb0.f556b2","type":"simpletime","z":"ba148b02.7708f8","name":"","x":610,"y":280,"wires":[["27f5e274.b1403e"]]},{"id":"6a6e1d8c.272224","type":"change","z":"ba148b02.7708f8","name":"","rules":[{"t":"set","p":"payload.temperature","pt":"msg","to":"msg.payload.temperature+$round($random()*20,1)","tot":"jsonata"},{"t":"set","p":"payload.humidity","pt":"msg","to":"msg.payload.humidity+$round($random()*20,1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":200,"wires":[["33122eb0.f556b2"]]},{"id":"830dc7b5.60a288","type":"inject","z":"ba148b02.7708f8","name":"Insert temp hum to table 2","topic":"","payload":"{\"table\":\"table2\",\"temperature\":1.5,\"humidity\":10.5}","payloadType":"json","repeat":"5","crontab":"","once":true,"onceDelay":"2","x":180,"y":240,"wires":[["fe6edcd.fa9fd2"]]},{"id":"fe6edcd.fa9fd2","type":"change","z":"ba148b02.7708f8","name":"","rules":[{"t":"set","p":"payload.temperature","pt":"msg","to":"msg.payload.temperature+$round($random()*20,1)","tot":"jsonata"},{"t":"set","p":"payload.humidity","pt":"msg","to":"msg.payload.humidity+$round($random()*20,1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":260,"wires":[["33122eb0.f556b2"]]},{"id":"768a918.002187","type":"inject","z":"ba148b02.7708f8","name":"CREATE TABLE2","topic":"CREATE TABLE table2(id INTEGER PRIMARY KEY AUTOINCREMENT, time INTEGER, temperature NUMERIC, humidity NUMERIC)","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.2","x":630,"y":140,"wires":[["a3091525.9b0098"]]},{"id":"748e74f8.8bda4c","type":"sqlite","z":"ba148b02.7708f8","mydb":"dbe9fc1f.8d838","sql":"","name":"test 3","x":450,"y":460,"wires":[["a8291bb7.f7d648"]]},{"id":"a8291bb7.f7d648","type":"debug","z":"ba148b02.7708f8","name":"","active":true,"console":"false","complete":"false","x":610,"y":460,"wires":[]},{"id":"d7626417.b367d8","type":"debug","z":"ba148b02.7708f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":320,"wires":[]},{"id":"60189a3f.479b74","type":"comment","z":"ba148b02.7708f8","name":"Select and compare via SQLite call","info":"SELECT \n    table1.time, \n    table1.temperature AS t1,  \n    table2.temperature AS t2, \n    table1.humidity AS h1,  \n    table2.humidity AS h2, ROUND((table1.temperature-table2.temperature),2) AS deltaTemp,  ROUND((table1.humidity-table2.humidity),2) AS deltaHum \n\nFROM \n    table1, \n    table2 \n    \nWHERE \n\n    ABS(table1.time-table2.time)<1000","x":180,"y":380,"wires":[]},{"id":"ca352afa.d4e9b8","type":"function","z":"ba148b02.7708f8","name":"COMPARE FUNCTION","func":"var array = [];\nfor(var i = 0; i < msg.payload.length; i++){\n    elem = msg.payload[i]\nif(Math.abs(elem.time1-elem.time2)<1000){\n    array.push({\n        \"time\":elem.time1,\n        \"t1\":elem.t1,\n        \"t2\":elem.t2,\n        \"h1\":elem.h1,\n        \"h2\":elem.h2,\n        \"deltaTemp\":Math.round(elem.t1-elem.t2,2),\n        \"deltaHum\":Math.round(elem.h1-elem.h2,2)\n    })\n}\n}\nmsg.payload = array\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":560,"wires":[["5f4a9ba8.f8e7a4"]]},{"id":"4153edd7.babc74","type":"sqlite","z":"ba148b02.7708f8","mydb":"dbe9fc1f.8d838","sql":"","name":"test 3","x":390,"y":620,"wires":[["ca352afa.d4e9b8","3a241885.fc95f8"]]},{"id":"5f4a9ba8.f8e7a4","type":"debug","z":"ba148b02.7708f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":620,"wires":[]},{"id":"27f5e274.b1403e","type":"function","z":"ba148b02.7708f8","name":"INSERT FUNCTION","func":"msg.topic  = \"INSERT INTO \"+msg.payload.table+\" (time,temperature,humidity) values(\"+msg.myepoch+\",\"+msg.payload.temperature+\",\"+msg.payload.humidity+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":280,"wires":[["a3091525.9b0098","d7626417.b367d8"]]},{"id":"3a241885.fc95f8","type":"debug","z":"ba148b02.7708f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":620,"wires":[]},{"id":"8121353a.606118","type":"inject","z":"ba148b02.7708f8","name":"SELECT AND COMPARE","topic":"SELECT  \ttable1.time AS time1,  \ttable1.temperature AS t1,  \ttable1.humidity AS h1,  \ttable2.time AS time2,  \ttable2.temperature AS t2,  \ttable2.humidity AS h2  FROM   \ttable1, table2  WHERE ABS(table1.time-table2.time)<1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":620,"wires":[["4153edd7.babc74"]]},{"id":"33ad0d12.1d4d02","type":"comment","z":"ba148b02.7708f8","name":"Select and compare via SQLite call and Function","info":"SELECT  \t\n    table1.time AS time1,  \t\n    table1.temperature AS t1,  \t\n    table1.humidity AS h1,  \t\n    table2.time AS time2,  \t\n    table2.temperature AS t2,  \t\n    table2.humidity AS h2  \n\nFROM   \t\n    table1, \n    table2  \n    \nWHERE \n    \n    ABS(table1.time-table2.time)<1000","x":220,"y":540,"wires":[]},{"id":"dbe9fc1f.8d838","type":"sqlitedb","z":"","db":"C:\\Users\\Davide Gomba\\Documents\\A - ITS\\online course\\db\\database-3.db","mode":"RWC"}]